[2015-05-21 08:52] ap0n opened #1 "test"
blah blah blah

[2015-05-21 08:53] #1 closed, assigned to nobody

[2015-05-21 09:02] npav opened #2 "New test issue"
Blah blah back

[2015-05-21 09:03] #2 closed, assigned to nobody

[2015-05-21 11:35] eichelbe opened #3 "Check and agree data source and data sink interfaces"
For a longer time, IDataSource and IDataSink from Data Management Layer were not used throughout the PriorityPipeline. To use the capabilities Data Management Layer, the generation shall inherit the specific interfaces from IDataSource and IDataSink. Are we safe to switch?

Also there is the request to extend IDataSource/IDataSink with the method
boolean isConnected()

Is it now safe to change the

[2015-05-21 11:36] eichelbe opened #4 "Clean up Data Management Layer"
There are still the old interfaces and classes in the Data Management Layer (qualimaster/sinks, qualimaster/sources, qualimaster/storage). Are they still used? Can we get rid of them?

[2015-05-21 11:50] ap0n commented on #3
From our side (TSI), sources & sink implement the IDataSource & IDataSink interfaces. As I've told Cui, we are ok with the isConnected() method. Just tell us when to update.

[2015-05-21 11:58] eichelbe commented on #4
It's an enhancement ;)

[2015-05-21 12:00] eichelbe commented on #3
Fine :) We will change the interface as soon as all implementing classes have the method. Please go ahead and let us know... [comments and emails here are a fine thing]

[2015-05-21 12:41] eichelbe opened #5 "Support arbitrary types in the model and the generation"
The new L3S interfaces seem to require specific data types and collections over them. However, this is currently not supported by the generator as not indicated so far as really need (thus, considered as optional so far).

Status:
- QMIconf: allows the definition of additional types through artifacts
- VarModel: defines the type structures, but does not use them throughout the model
- Generator: n

[2015-05-21 12:42] eichelbe commented on #3
Passing this issue on to L3S ;)

[2015-05-27 08:37] eichelbe opened #6 "Default values for debugging / keeping the pipeline running"
Agreed in Chania
- Runtime exception called DefaultModeException thrown by an algorithm to signal that a serious problem arised and that processing shall go on with another algorithm or default tuple values.
- Bolts/Spouts shall react on that and switch to default values
- Send an event to adaptation layer
- Default values to be sent are Java default values

Assigned to Cui for starting the proces

[2015-05-27 08:56] eichelbe commented on #5
Agreed in Chania to realize the more specific dates, to keep the generic for now and to migrate the interfaces individually  in 1.5-2 months (end of July 2015)

Assigned to Cui to change the model (refTo(Type)), the configuration (refBy(XX)) and the instantiation process.

[2015-05-27 09:24] eichelbe opened #7 "Generate hardware integration (Lead: SUH)"
Apostolos, Cui, and Roman
- discuss the actual (simple) template for mutual understanding
- disucss the actual implementaiton
- if possible, TSI learns how to do the template, also for further optimization
  QM algorithm configuration needs type of algorithm
- Window-based
- Stream-based
  Deadline: 3 Months (August)

[2015-05-27 11:06] eichelbe opened #8 "Run Data Managent Bolt on parallel data flow"
L3S: Consider shuffle grouping to make data management bolt real parallel to main data flow instead having it in sequence.

[2015-05-27 11:07] eichelbe commented on #5
Consider Map<?,?>, List<?>

[2015-05-27 11:09] eichelbe opened #9 "Switching of stateful components (Lead: TSI)"
Software-Hardware-Switching
- state transfer
- running in parallel
- combination of both
- signalling protocol when ready

Deadlines: Design discussion for D4.2, Implementation discussion for D5.3

[2015-05-27 11:10] eichelbe opened #10 "Check hardware access restrictions"
Conceptual: Can we control the access to hardware, to give some DFEs into the exclusive control of the Adaptation Layer
Discussion with MAX

[2015-05-27 11:28] eichelbe opened #11 "Basic hardware monitoring"
interface for monitoring (available DFEs, running DFEs, discuss with Maxeler)

Deadline: 2 weeks (mid of June)
Split along with #24

[2015-05-27 11:39] eichelbe opened #12 "Functional testing of algorithms (Lead: MAX)"
- simulated data (social / financial)
- CSV format for data exchange, i.e., for reusing generated data also in automated regression tests
- testing framework per algorithm (input, output)
- make it running on storm, for software and hardware
- test it with HJ-Algorithm on Software/Hardware
- integrate with Jenkins
- roll out on the other algorithms

[2015-05-27 11:40] eichelbe opened #13 "Scalability testing (Lead: TSI)"
- Identify amount of physical nodes (target is cluster of 24 nodes)
- Simple pipeline up to 80M messages
- MAX designs pipeline, discussion of bottlenecks
- Identify real bottlenecks in real pipeline
- ....
  Start in July -> D5.3

[2015-05-27 11:48] eichelbe opened #14 "Hardware integration optional"
- move connection from prepare to switchState (activate/deactivate)
  Deadline 2 weeks

[2015-05-27 11:49] eichelbe opened #15 "sub-modules Jenkins deployment"
POM-deployment
This week.

[2015-05-27 12:05] eichelbe opened #16 "Subtopology integration style"
- networked
- within the same main pipeline

Another discussion in October

[2015-05-27 12:11] eichelbe opened #17 "Multiple pipelines (Lead: LUH)"
- Try Storm / the infrastructure with multiple pipelines
- Test the adaptation
- Define the adaptation cases when to use different resources / optimize them

-> Initial experience by now, focus on in October

[2015-05-27 12:39] eichelbe opened #18 "Verify cluster library versions"
Please check the library versions against

https://www.l3s.de/wiki/doku.php?id=qualimaster:qualimaster:executionenvironment

and conclude with an authoritative collection we are all developing against.

TSI starts... passes on to LUH then to SUH ;)

[2015-05-27 14:07] eichelbe opened #19 "HW-Integration: Default values"
- Define default parameters (for hardware) as values in the configuration - shall be possible right now.
- set default parameters before switching an algorithm... at least for hardware, check with sw-algorithm whether this is also needed

[2015-05-27 14:07] eichelbe opened #20 "HW-Integration: Check sub-topology"
Check whether a single bolt with threading is ok or whether we need bolt + spout.

[2015-05-27 14:10] eichelbe opened #21 "HW-Integration: Serializers"
TSI: Check whether the official Kryo-Serializers can be used for HW Serialization?
SUH: Include serialization/deserialization-Methods into data tuples.

serializeHw(HWStream stream) {
   stream.write...(field1);
   stream.write...(field2);
}

deserialize(HWStream stream)  {
    field1 = stream.read...();
    field2 = stream.read...();
}

[2015-05-28 12:45] ap0n commented on #15
Done!

[2015-05-28 12:45] #15 closed, assigned to eichelbe

[2015-05-28 14:01] cuiqin commented on #19
but there is no configured parameters. Which parameter needs for hardware?

[2015-05-28 15:38] eichelbe commented on #19
Nick told me about window size, which is currently passed in via the Storm config object / Map.

[2015-05-29 09:20] ap0n opened #22 "Switch HY correlation components from multiple projects to a single modular one"

[2015-06-03 09:16] ap0n commented on #21
The HW server is written in C. As far as I know, Kryo cannot be used. We should find an alternative (JSON, protocol buffers, ...)

[2015-06-08 08:33] eichelbe commented on #21
Of course, we need a bridge between Java and C. The actual idea was to use a Kryo interface on the software side for doing the serialization for HW and optimized Storm execution with the same code while replacing the Storm Kryo serialization with something that is suitable for both, software and hardware. However, the required interfaces of Kryo explicitly refer to classes instead of interfaces (s

[2015-06-08 09:46] eichelbe opened #23 "Pipeline input buffering"
Check need for input buffering in Data Management Layer, consider Apache Kafka

[2015-06-08 09:57] eichelbe commented on #20
As discussed in Chania, a single Bolt might not be sufficient as output can only happen if execute is called and we go for now with bolt + spout (but no more Storm components). If a single Bolt is not possible at all, please close this issue with a respective comment.

[2015-06-08 10:01] npav commented on #20
Exactly, a single bolt is not sufficient due to the asynchronous nature of the data flow.

[2015-06-08 10:01] #20 closed, assigned to npav

[2015-06-08 10:01] eichelbe opened #24 "Hardware upload interface"
Fork from #11

interface upload algorithms (changing algorithms at runtime)
Deadline: 1.5 months (mid of July)

[2015-06-08 10:14] eichelbe opened #25 "Data storage metadata"
For storing tuples, the input/output interfaces may provider information on their structure as meta data,
How was the state? Do we need metadata for data storage?
Can we align this with the serializers in #21 and the Storm Kryo Serialization (optimization)?

[2015-06-08 10:15] eichelbe commented on #21
There is a potential relation to the discussed data storage metadata in #25

[2015-06-08 12:07] eichelbe opened #26 "Priority pipeline on TSI cluster"
It seems that HDFS-based sources do not emit data (NullPointerException).

[2015-06-08 13:03] eichelbe commented on #6
DefaultModeMonitoringEvent as well as DefaultModelException now defined in QM.Events (rev 2620)

[2015-06-08 13:08] eichelbe commented on #6
Initial documentation in the Wiki...

[2015-06-09 09:38] ap0n commented on #26
The problem was caused by the libs that we had pinned on the cluster under /var/nfs/libs. Once they where removed from storm's path, everythink ran smoothly.

[2015-06-09 09:42] ap0n commented on #22
To everyone using correlation: Please update the correlation-related artifacts according to the following:

Preprocessor:0.0.2-SNAPSHOT -> **hy-preprocessor:3.0-SNAPSHOT**
topo-software-correlation-financial:0.0.2-SNAPSHOT -> **hy-correlation-financial-software:3.0-SNAPSHOT**
topo-hardware-correlation-financial:0.0.2-SNAPSHOT -> **hy-correlation-financial-hardware:3.0-SNAPSHOT**
topo-software-corr

[2015-06-09 09:42] #22 closed, assigned to ap0n

[2015-06-09 11:37] eichelbe commented on #26
Unclear: validation managing a pipeline through the QM infrastructure

[2015-06-09 15:01] cuiqin commented on #5
The arbitrary types should be supported by the model now, for both configuration and instantiation.
The next step is to adjust the QM-Tool for those changes.

[2015-06-09 15:02] ap0n commented on #26
- Restored the jars under qm-libs directory.
- Changed StormCommons, DatamanagementLayer, Qualimaster.Events scope to provided.
- Tried to run the pipeline.

Failed with exception _java.lang.NoSuchMethodError: com.google.common.cache.CacheBuilder.build()Lcom/google/common/cache/Cache_.

I noticed the directory qm-libs/**libs**. Since I wasn't sure if this directory is also in the storm path, I mov

[2015-06-09 15:10] eichelbe commented on #26
Guava... hmm. Did you have other parts of the QM infrastructure than StormCommons, DML and QM.Events in the fat jar`before?

[2015-06-09 15:34] ap0n commented on #26
The pom of the priority pipeline only has storm-core, StormCommons, PriorityPipelineInterfaces, DataManagementLayer and QualiMaster.Events; plus the correlation & sentiment analysis jars.

Guava was not the problem after all. I added it to the pom and it didn't work again

[2015-06-09 17:08] eichelbe commented on #26
Ok, no higher levels that would include EASy, which indirectly uses Guava. Then I agree to leave the jar for now as it is. Please sync with Cui so that QM-IConf can create the full pipeline jar. We put the libs of the QM infrastructure into another NFS folder outside the storm classpath and see whether we can start the pipeline via the infrastructure.,

[2015-06-09 17:09] eichelbe commented on #5
Initial adjustment in QM-IConf done / committed.

[2015-06-10 10:07] cuiqin commented on #22
Updated from the generated pipeline side.

[2015-06-10 11:34] cuiqin commented on #26
The pom generation script for full dependencies is commited.

[2015-06-10 11:36] eichelbe commented on #5
As types may be defined in different Maven artifacts, we also need to take over these dependencies into the pipeline poms :o

[2015-06-10 11:38] cuiqin commented on #5
Can those dependencies for types be included in the algorithm-level instead of the pipeline poms?

[2015-06-10 11:40] cuiqin commented on #5
It seems to me we need to include them to the interface pom ...

[2015-06-10 11:43] eichelbe commented on #5
Actually, the implementation (algorithm level) should depend on them, but as we do not require the implementation for the compilation of the generated pipelines, we need to ensure that these artifacts and classes are there. Indeed, the interfaces may refer to these types... interface pom seems to be adequate. Does Maven allow multiple dependencies to the same artifact in one pom or do you need to

[2015-06-10 11:54] cuiqin commented on #5
Multiple dependencies to the same artifact? I'm not sure about in which kind of case we need it. What I thought is, to include all type dependencies we could check the configured artifact of the type through  'types' and add them in the interface pom. Is that sufficient?

[2015-06-10 11:57] eichelbe commented on #5
Let's assume type C1 is defined in artifact A1 and type C2 also in artifact A1. Either we ensure that A1 occurs only once in the pom or Maven does not complain about listing A1 multiple times ;)

[2015-06-10 12:02] cuiqin commented on #5
Not really sure if Maven complains the duplicated artifacts but I think it's better if the pom only includes them once.

[2015-06-10 12:02] eichelbe commented on #5
Me too ;)

[2015-06-10 13:40] cuiqin commented on #8
Now the generated topology class is adjusted to run DataManagement Bolt in parallel, i.e., in the PriorityPipeline case, the SentimentAnalysis Bolt emits data to both DataManagement and CorrelationTwitter Bolt but no Bolt subscribes to the DataManagement Bolt.

[2015-06-10 13:47] eichelbe commented on #8
Just marked it as ready for testing ;)

[2015-06-10 14:56] cuiqin commented on #26
As I tested the PriprityPipeline with full jars, except for the exception of the hardware connection(hardware is offline) it works without other exceptions.  Although the sources now produce quite a lot of data, there are not really many going through the entire pipeline, especially some elements are not really receiving data. Shall we verify if in the end the Sink is receiving the expected data?

[2015-06-10 16:19] ap0n commented on #26
Java version should be the agreed version as we didn't change it but I'll double check it and let you know.

As for the data we also noticed the problem but the matter requires further investigation. We are on it.

[2015-06-10 16:38] ap0n commented on #26
Java version of the cluster is 1.7

[code]

@cuiqin what led you to believe otherwise?

[2015-06-11 07:46] cuiqin commented on #26
From suh user, we get java 1.6...
suh@snf-618466:~$ java -version
java version "1.6.0_35"
OpenJDK Runtime Environment (IcedTea6 1.13.7) (6b35-1.13.7-1ubuntu0.12.04.2)
OpenJDK 64-Bit Server VM (build 23.25-b01, mixed mode)

That's why I run into problem while launching the infrastructure...

[2015-06-11 08:06] ap0n commented on #26
That is strange. I'll look into it.

[2015-06-11 08:40] ap0n commented on #26
It should be ok now. It was a mix-up of the PATH declarations. Can you check it out and let me know?

[2015-06-11 09:02] cuiqin commented on #26
yes, now the java version is 1.7.

[2015-06-11 09:18] cuiqin commented on #5
Type artifacts are now able to include in the interface pom and the same artifact will be only added once.

[2015-06-11 09:29] cuiqin commented on #26
Validation of the pipeline running through the QM infrastructure:
   start/stop a pipeline  --> no problem
   switch algorithm needs to be tested again when the entire pipeline process data streams properly as now with a few data going through the pipeline it's hard to see if the switching does its right job.

[2015-06-11 09:45] gregorychrysos commented on #10
We asked Maxeler and they told us that there is not a straightforward way to "lock" the DFEs for a specific user. The solution that we suggest is to keep one of our available Maxeler servers just for the needs of the Qualimaster project.  Is there a problem with that?

[2015-06-11 10:07] eichelbe commented on #10
As far as I remember, the discussion started with the fact that your servers are accessible to the world. So conceptually, we could at least assume that the machines in a real installation are only accessible within a certain network to the QM infrastructure, the cluster and the administrators.

As far as I remember, if one DFE is processing, it cannot be just be assigned to another process except

[2015-06-11 10:10] gregorychrysos commented on #11
We implemented the script that monitors the available and the running DFEs of the Maxeler server. The next thing is to define an interface between the monitoring layer and  our script. Is there any way that you prefer? E.g. We can provide you with a Java code that will open socket with the Maxeler server and will return the number of available DFEs. Is it a valid solution?

[2015-06-11 10:21] eichelbe commented on #11
Yes, let's start with that :) We can then take the code over into the Monitoring layer as a specific monitoring module ;)

[2015-06-11 10:24] gregorychrysos commented on #10
Yes, the machine will only be accessible by the QM infrastructure and the administrators.

Yes, the process has to release the DFE in order to set it free again. As far as the second one, the Qualimaster infrastructure will have to run the monitoring "script"  (#11) , in order to be able to define the number of the free DFEs. As far as the DFE unloading, this issue can be handled by the running se

[2015-06-11 11:25] eichelbe commented on #10
Yes, from my perspective.

Then the upload interface (#24) needs functionality to stop processing ;)

[2015-06-11 11:26] eichelbe opened #27 "Demo download: QM-IConf"
Provide a public version of QM-IConf so that interested parties can have a look at.
Needs bundling the tool with the model, disable login, disable repository connector, disable runtime view, enable model reset, disable RCP update.

[2015-06-11 11:27] eichelbe opened #28 "Demo download: Algorithms"
... as far as I remember, also algorithms shall be made available for downloads... ;)

[2015-06-11 11:28] eichelbe opened #29 "QM-IConf: Let algorithms configure the input/output/parameter"
In case of Java, The algorithm manifest shall allow the tool to analyze the respective classes, to determine the interface, to configure algorithms accordingly. For hardware, the manifest will specify the implemented interface (trusting the developer).

[2015-06-11 11:30] eichelbe commented on #29
Patrick Pastuschek is working on this. Manifest format (should be in the SVN) is implemented. Obtaining all relevant Maven artifacts is working and initial class analysis is in the Manifest Utils. Also uploading Artifacts against Nexus is working.

[2015-06-11 11:33] cuiqin commented on #5
@sergejzr @PatrickSie  The specific types are ready to configure, shall we do a real test on it by taking one of your required interfaces? For that I need the interface configuration including input, output and if needed, parameter configuration.

Actually I could get such configuration from the interfaces you sent me before, but the inner type interfaces(IFExpert and IFTimeInterval) should be pro

[2015-06-11 11:44] eichelbe commented on #27
Works in principle out of the box. Aike Sass is working on the additional functionality to make it nice.

[2015-06-11 12:25] npav commented on #26
There seems to be a connection-related problem. More specifically, many nodes have a Netty client reconnect issue. The log files contain info like this:

_2015-06-11T15:21:18.208+0300 b.s.m.n.Client [INFO] Reconnect started for Netty-Client-snf-618463.vm.okeanos.grnet.gr/83.212.119.16:6703... [89]
2015-06-11T15:21:18.731+0300 b.s.m.n.Client [INFO] Reconnect started for Netty-Client-snf-618463.vm.o

[2015-06-11 12:42] gregorychrysos commented on #10
Yes, that's another story! :-) :-) So this is issue is closed...

[2015-06-11 12:42] #10 closed, assigned to gregorychrysos

[2015-06-11 13:10] gregorychrysos commented on #11
We put the code for a basic hardware monitoring process in the SVN at this path:
/qualimaster/trunk/hardware/WP3/Monitoring. You need just the monitor code, as the monitor server code will run on the Maxeler server (Olynthos)...

If you need any help on this code, just tell us!

[2015-06-11 14:57] cuiqin commented on #8
It has been tested from my test pipeline which you could also find the "testDMPip" from the QM-IConf.  But it seems to me calling write method in the DataManagement Bolt causes problem, so for the moment I comment that out.

[2015-06-12 08:40] eichelbe commented on #11
Thanks ;) We will have a look at it in the next days...

[2015-06-12 10:42] cuiqin commented on #26
That sounds like a cascading failure problem. I read something about the storm-bolt-of-death, you could find from:
https://github.com/verisign/storm-bolt-of-death
as well as the effect explanation:
https://github.com/verisign/storm-bolt-of-death/blob/master/README_STORM-0.9.3.md

You may create your subpipeline to simplify the entire pipeline for searching the exact problem?

[2015-06-12 10:51] eichelbe opened #30 "Debug mode for pipelines"
Enable the configuration whether the generated pipeline contains debug code such as logging. Actually, either a configuration setting in infrastructure.ivml or for the individual pipelines (preferred).

[2015-06-12 10:53] eichelbe commented on #27
Aike: model reset working, disable RCP update needs some time.

[2015-06-12 13:09] cuiqin commented on #30
The debug is enabled for the individual pipelines and the tool is also adjusted to translate the debug value to ivml file. But the Tool can display the default value but not able to edit, any idea?

[2015-06-12 13:11] eichelbe commented on #30
If you defined it on pipeline level, you also must adjust the pipeline editor model accordingly, recreate the pipeline editor and adjust the transformation to IVML (as we have to do also for the pipeline constraints ;)).

[2015-06-12 13:18] cuiqin commented on #30
yes, that has been done. But the editor for the debug still has problem..

[2015-06-12 13:20] eichelbe commented on #30
did you commit the new versions?

[2015-06-12 13:22] cuiqin commented on #30
yes, all related changes. The ivml translation and instantiation are fine but not the editor.

[2015-06-12 13:37] eichelbe commented on #30
I see. The editor seems to be confused by the Boolean value as it is an EASy editor :o

[2015-06-12 14:14] eichelbe commented on #30
Ok, as Booleans are internally handled by a drop-down editor which only accepts integers as selected values, the easiest way is to represent them as integers in the editor model and to map the label accordingly. Done and commited.

[2015-06-13 17:14] eichelbe opened #31 "Specification of new pipelines for D5.3"
Functionality, interfaces, required components, draft implementation for
- graph analysis pipeline
- financial forecast pipeline

[2015-06-13 17:17] eichelbe opened #32 "Algorithm Profiles"
Measure algorithms
Meeting SUH / LUH in agreement (#33)

[2015-06-13 17:18] eichelbe opened #33 "Discussion on automated experiments for creating algorithmic profiles"

[2015-06-13 17:19] eichelbe commented on #33
Prerequisite for #32
Appointment for discussion in negotiation

[2015-06-13 17:28] eichelbe opened #34 "Create systemic risk ground truth (Lead: Spring, Max)"
Create system risk ground truth data set for testing (see CSV format for #12)
Data for specific events, whether pipeline can detect events

[2015-06-13 17:33] eichelbe opened #35 "Consider COT report as data source"
Consider COT report (http://www.cftc.gov/MARKETREPORTS/COMMITMENTSOFTRADERS/INDEX.HTM) as additional data source for sentiment of big players.

(From Claudia's notes)

[2015-06-13 17:34] eichelbe opened #36 "Lag correlation as additional indicator"
Correlation of MPs that lag by a certain time offset.

(From Claudia's notes)

[2015-06-13 17:35] eichelbe opened #37 "Visualization shall consider clustering (Lead: SPRING)"
Consider graph / result clustering (new pipelines) in visualization

[2015-06-13 17:36] eichelbe opened #38 "Agree on Application Protocol (Lead: SPRING)"
WP4/WP5/WP6

[2015-06-13 17:36] eichelbe opened #39 "Present intial stakeholder applications (Lead: SPRING)"

[2015-06-14 07:54] npav commented on #36
Is the lag offset user-defined? Or do you mean that we need to discover the "optimal" offset online (meaning we need to examine "all" possible offsets)?

One problem is much harder than the other.

[2015-06-14 07:56] eichelbe commented on #36
Actually, I do not remember the details :| Let's ask the financial partners ;) I asked Stefan to join github, then we can go on here...

[2015-06-14 17:01] eichelbe commented on #11
I did a first integration round of the code into the Monitoring Layer (not committed). Two questions:
- Can the number of available (maximum of free) DFEs change at runtime, e.g., by disabling a defect DFE? If yes, it would also be good to have the actual available number of DFEs.
- do you really need two ports for the communication with the server. We just need to know this, as this will go into

[2015-06-15 09:20] npav commented on #11
If using a single port seems like a more appealing case, I guess we can switch to a single port model where the client also sends an extra "identification" message to the server saying whether the client is a Receiver or Transmitter.

[2015-06-15 09:24] eichelbe commented on #11
The background of this question was that typically network connections such as sockets implicitly work in both directions, i.e., unifying Transmitter and Receiver on the same socket leaving the protocol as it is could do the job. But it's actually only a question and in your decision, as for us the only difference is whether we have two ports in the configuration or only one ;)

[2015-06-15 09:33] npav commented on #19
It is not a hardware parameter rather than a Hayashi-Yoshida parameter. The reason we discussed about it is because the hardware needs to know the algorithm parameters after switch. Currently, windowSize is the only parameter for the algorithm (Cui I also told you about windowAdvance, but let's leave that one out for now as it is a little obscure and we need to talk about it more in depth) and it

[2015-06-15 09:48] npav commented on #11
I get what you mean, though the idea is that we have one Transmitter of data, one Receiver of results, and one server (that is essential both a Receiver and Transmitter at the same time).
So, it is not the case where we can have a single pair of Transmitter-Receiver so the communication cannot be handled by a single socket as there are two types of clients.
Our alternatives are:
1) Use a different

[2015-06-15 09:50] eichelbe commented on #11
What are the two types of clients?

[2015-06-15 09:51] cuiqin commented on #19
Fine:) Shall I add the windowAdvance parameter to the correlation family and then you can adjust your implementation for that? Afterwards, I also need to modify the pipeline instantiation script in order to set that parameter before we run it.

[2015-06-15 09:54] npav commented on #11
Okay I think I have highjacked your thread-issue and I am talking about an entirely different topic and I just figured out. I was talking about the hardware integration subtopology, while you are obviously talking about monitoring the available DFEs. Sorry for the misunderstanding...

[2015-06-15 10:03] eichelbe commented on #11
No problem. Interesting ;) Let's clarify the question with the availability (can DFE's change at runtime) with Gregory first, i.e., whether we need a second value. Then, we take your final implementation (either two or one port), integrate it into the Monitoring Layer (as an extension of the actual integration) and test it [last test failed as HW Server seemed to be down].

[2015-06-15 10:16] npav commented on #19
Just let the windowAdvance a constant of 1 second as it is now.

[2015-06-15 10:26] gregorychrysos commented on #11
As far as about the available DFEs. There are always 4 available DFEs and if they are not locked by a process, then we consider them as free, available and not defected. We can either send you the information about the  number of not defected DFEs or you can consider them as a stable number(4). (Beside that we did not have the chance :-) :-) to "meet" a defected DFE till now!)
Also, we will try a

[2015-06-15 10:50] cuiqin commented on #19
Oh..yes, actually I wanted to add the windowSize parameter;). Shall I add it for the correlation family?

[2015-06-15 10:51] eichelbe commented on #11
Fine. We will take the 4 available DFEs as part of our MPCCNode element in the configuration and keep this constant at runtime. Looking forward to the new version ;)

[2015-06-15 10:52] eichelbe commented on #19
No algorithm parameter without family parameter ;)

[2015-06-15 10:55] cuiqin commented on #19
True. We need to reconfigure the correlation family in this case.

[2015-06-15 10:59] npav commented on #19
Yes, we should add the windowSize as a correlation family parameter. Though I have a semantics-related concern as there might be non window-based correlation algorithms in the future.

[2015-06-15 11:00] eichelbe commented on #19
So far, algorithms are free to ignore individual parameters. The profiles to be derived from algorithms shall then indicate that the parameter has no effect for the specific algorithm, so varying it at runtime is not needed.

[2015-06-16 07:54] eichelbe commented on #11
@cuiqin could you please add the monitoring port to the MPCCNode in ReconfigurableHardware.ivml?

[2015-06-16 09:12] cuiqin commented on #11
As mentioned from Gregory, I've added a single port for MPCCNode. If we need this to be multiple, let me know.

[2015-06-16 12:06] cuiqin commented on #19
The windowSize parameter has been included for correlation families and a default value 30s for this parameter has been set for all correlation-related algorithms in the PriorityPipeline. @npav could you please adjust the correlation-related implementations?

[2015-06-16 12:09] #30 closed, assigned to cuiqin

[2015-06-16 16:11] eichelbe commented on #11
As far as I remember, Oliver told us in Bremen that we shall also consider the number of available / free CPUs. Is this still relevant, as we have it in the model and in D4.1?

[2015-06-16 18:47] eichelbe commented on #11
HW base information is now taken over from the configuration. However, testing is not possible as the HW is down ;)

[2015-06-17 08:50] eichelbe commented on #11
Integrated: Detailed as well as summarized monitoring.
Extended: Connection check for Jenkins, as it is as a DMZ machine not allowed to connect to other machines outside.

[2015-06-17 10:22] ap0n commented on #26
It indeed sounds like it but we weren't able to locate the source of the problem. We isolated the TSI components (`SpringClientSimulator`, `Preprocessor`, etc.) and they do not cause any problems when running on the cluster.

We also noticed that when using a `RecordingTopologyBuilder` (at the generated Topology class) we could not set the task parallelism to any value above 1. Therefore, we teste

[2015-06-17 10:27] eichelbe commented on #26
Any suggestion to fix the RecordingTopologyBuilder?

[2015-06-17 10:50] cuiqin commented on #26
Regarding the RecordingTopologyBuilder, where do you want to increase the task parallelism? in the main pipeline level or in your subpipelines? RecordingTopologyBuilder extends from TopologyBuilder, in principle it should be able to create the Spout/Bolt with multiple tasks.

[2015-06-17 10:55] ap0n commented on #26
We wanted to increase the task parallelism of the `HayashiYoshidaBolt` which is part of the software correlation subtopology. We were only able to do that when using the `TopologyBuilder`  class.

[2015-06-17 11:14] cuiqin commented on #26
Is it the problem that your bolt can actually call the setNumTasks method, but it does not behave in a multiple tasks way? I just try to understand the problem;)

[2015-06-17 11:28] ap0n commented on #26
In the sub-topology I set the task parallelism for the bolt to 10 (through `topologyBuilder.setBolt` method) and the in the (generated) Topology I set `config.setMaxTaskParallelism(10)` but when deploying the pipeline on the cluster, the bolt only runs a single task.

[2015-06-17 11:34] ap0n commented on #26
However maybe the focus should not be on the `RecordingTopologyBuilder` (maybe a new issue should be opened for this). I would prioritize the correct execution of the pipeline...

[2015-06-17 11:39] cuiqin commented on #26
true, anyway we will keep an eye on RecordingTopologyBuilder.

[2015-06-17 11:48] eichelbe opened #40 "Check RecordingTopologyBuilder"
Does not seem to pass through tasks, at least to sub-topologies (#26)

[2015-06-17 11:51] eichelbe opened #41 "Modeling sub-topologies?"
There seems to be some need for modeling sub-topologies, ranging from the simplification of the development to potential adaptation issues (as we currently do not know the structure of these pipelines and, e.g., cannot affect their parallelization)

Decision / discussion was deferred to October.

[2015-06-17 11:51] eichelbe commented on #26
Ok, let's open a new issue (#40), but also keep in mind (as Cui indicated) that the structure of sub-topologies in contrast to main topologies is actually not known as not explicitly modeled (#41). Anyway, testing with a replacement also includes the danger that an issue might accidentally disappear, so let's keep an eye on #40 as Cui said...

[2015-06-18 08:38] gregorychrysos commented on #11
We put the new code for the hardware monitoring process in the SVN at this path:
/qualimaster/trunk/hardware/WP3/Monitoring_1_port/.

We changed the code in order to use just a single port for our communication. Is there anything else to be done from our side?

Thank you!

[2015-06-18 08:41] gregorychrysos commented on #11
Also, I forgot to say that we are running the new server on the Olynthos Maxeler server, so you can test it if you want.

[2015-06-18 08:45] eichelbe commented on #11
Thanks. Just the question whether the number of CPUs is somehow relevant (Olivers idea in Bremen). If not, then we just need to test it and we are done ;)

[2015-06-18 08:58] gregorychrysos commented on #11
I thing that the number of CPUs is not relevant. The Qualimaster pipeline has the number of the available DFEs as resources. The restrictions on the number of the used CPUs can be internally solved by the Mexeler server OS. I don't know if that answers the question! :-)

[2015-06-18 11:05] eichelbe commented on #11
Ok, you are the hardware expert ;) Then we will remove the CPUs consistently from the model (no problem to add them again if needed), include the new version and try it out. We will let you know ;)

[2015-06-19 09:10] eichelbe commented on #11
Integrated new monitoring - works, against olynthos as well as a local fake junit test server. Works from Jenkins, i.e., DMZ connection restrictions are considered :)

Removed CPU monitoring mapping for rt-VIL.

We consider cleaning up the configuration model for hardware regarding CPUs, might be we need this somehow for the general purpose machines in order to support better balancing of pipeline

[2015-06-22 08:09] ekateriniioannou commented on #18
We verified that the versions are the same on the cluster, except storm.
So, I am now assigning to the next partner....LUH

[2015-06-22 08:12] eichelbe commented on #18
did you document the versions in the Wiki
reopened, as it is now on sergej's side...

[2015-06-22 08:13] #11 closed, assigned to gregorychrysos

[2015-06-22 08:15] eichelbe opened #42 "Simple pass-through algorithm for analysis"
As discussed by email (sorry, I forgot to list)
- a simple integer-to-integer pass-through algorithm in Hardware (or on host machine)
- one integer parameter for delay tuples (in ms, can be done on host machine)
- if possible, also one parameter for aggregation (int, if 1 - just pass through, if 2 - pass only each second tuple, etc).
- for testing uploading and pipeline-effects

[2015-06-22 14:57] eichelbe commented on #27
Aike: Needs final refinements, is working...

[2015-06-24 11:58] ekateriniioannou commented on #14
Should this be closed?

[2015-06-24 11:58] #14 closed, assigned to nobody

[2015-06-24 12:01] ekateriniioannou commented on #26
@npav , Apostolos:
Please write here the exception and a description of what should be tested.

[2015-06-24 12:02] ekateriniioannou commented on #21
Nick, Apostolos, Gregory:
please discuss and suggest possible solutions (e.g., 1-2 slides)

[2015-06-24 12:10] ap0n commented on #26
As @npav explained some days ago:

As I said before, when we ran the TSI components on the cluster these problems didn't come up. So every partner should run their code on the cluster and make sure they don't create such problems.

P.S.: @ekateriniioannou when mentioning Nick please use @npav not @ Nick. You mentioned someone outside Qualimaster in your previous comment (but I edited it so it's ok

[2015-06-24 12:13] eichelbe commented on #26
I.e., there is no suspicious bolt for now as Katerina mentioned?

[2015-06-24 12:21] ap0n commented on #26
Not really. It's an assumption that one (or more) bolt dies (silently) for some reason and it causes something like a cascading failure to the rest of the topology.

[2015-06-24 12:22] eichelbe commented on #26
Ok. We will replace all algorithmic components by dummy ones and see whether this happens on the plain pipeline.

[2015-06-25 14:21] cuiqin commented on #26
In order to test whether the generated pipeline causes problem, I have implemented dummy algorithms which do nothing, but keep the right data structure for each component in the PriorityPip. I have let the pipeline run for half hour. The data is passing through all the elements smoothly. So far, I do not see the problem from our side.

[2015-07-01 10:59] eichelbe commented on #21
Any news here?

[2015-07-03 08:58] gregorychrysos commented on #21
No news yet! :-( I hope in the next week we will suggest a solution...

[2015-07-03 16:25] eichelbe commented on #40
Indeed, worked only for default values not those via declarers. see rev #2913

[2015-07-03 16:26] eichelbe commented on #40
-> shall be working now (hopefully)

[2015-07-06 09:13] sergejzr commented on #35
We downloaded the data and will start analysis

[2015-07-06 17:26] cuiqin commented on #26
I have worked a bit more on testing the Priority pipeline and found something interesting. I summarize below what I have experienced.
Except for running the pipeline with dummy algorithms, in order to figure out the exact problematic bolt I have also tested separately the financial data processing and twitter data processing branch in the priority pipeline. I tested it respectively by replacing on

[2015-07-06 17:28] cuiqin commented on #26
I have also seen this exception:

2015-07-06T20:21:13.792+0300 e.q.d.s.f.HDFSFileTweetSourceReader [ERROR] HDFS path exists: /user/storm/resultSymbols
2015-07-06T20:21:13.793+0300 e.q.d.s.f.HDFSFileTweetSourceReader [ERROR] Try to create iterator
2015-07-06T20:21:13.960+0300 e.q.d.s.f.HDFSFileTweetSourceReader [ERROR] HDFS path exists: /user/storm/resultSymbols
2015-07-06T20:21:13.961+0300 e.q.d.s

[2015-07-06 19:06] sergejzr commented on #26
Hi Cui,
this is not an error, we just have to change ERROR to INFO, but it will  not printin this case.

[2015-07-07 07:09] cuiqin commented on #26
ok.. I overlooked..
I have just seen a NullException in both FinancialMapperBolt and TwitterMapperBolt from the pipeline I submitted yesterday..
java.lang.RuntimeException: java.lang.NullPointerException at backtype.storm.utils.DisruptorQueue.consumeBatchToCursor(DisruptorQueue.java:128) at backtype.storm.utils.DisruptorQueue.consumeBatchWhenAvailable(DisruptorQueue.java:99) at backtype.storm.disr

[2015-07-07 07:30] ap0n commented on #26
This exception is thrown because the input `tuple.getValue(0)` is not a `IFCorrelationTwitter.IIFCorrelationTwitterAnalyzedStreamInput` object as it should be. What do you pass as input?

[2015-07-07 07:36] cuiqin commented on #26
I was actually testing the pipeline with all actual implementations. It seems to me this only happens after a quite long time... I submitted the pipeline yesterday and saw the exception today morning. Just want to mention, is it possible to check somehow or throw that exception?

[2015-07-07 07:43] cuiqin commented on #26
Hmmm, now it also happens with the new pipeline I've submitted today... I have replaced the implementation with dummy algrithms in the financial branch and leave the twitter branch as  it is before. Now I get this null exception in the TwitterMapperBolt.. The input of the TwitterCorrelation sub-topology should be the output from the SentimentAnalysis sub-topology. It should be matched...

[2015-07-07 07:54] ap0n commented on #26
Please make sure that the input type is `IFCorrelationTwitter.IIFCorrelationTwitterAnalyzedStreamInput`. What happens now is that the cast `(IFCorrelationTwitter.IIFCorrelationTwitterAnalyzedStreamInput) tuple.get(0)` fails and it throws the exception. If I recall correctly, the output type of the SentimentAnalysis sub-topology is not the same as the input type of the TwitterCorrelation sub-topolo

[2015-07-07 07:58] cuiqin commented on #26
The output type of the SentimentAnalysis sub-topology should be IIFSentimentAnalysisAnalyzedStreamOutput.

[2015-07-07 07:59] ap0n commented on #26
Yes, and this output passes through one of your bolts where it gets "transformed" to `IFCorrelationTwitter.IIFCorrelationTwitterAnalyzedStreamInput`
At least that was the case until now.

[2015-07-07 08:16] cuiqin commented on #26
Yes, the generated CorrelationTwitter bolt checks the IIFSentimentAnalysisAnalyzedStreamOutput receiving from the SentimentAnalysis subtopology and then casts it to IIFCorrelationTwitterAnalyzedStreamInput in order to fit the input of the CorrelationTwitter sub-topology. From the test, I remain the Twitter branch as it is before for sure it passes the IIFCorrelationTwitterAnalyzedStreamInput. I th

[2015-07-07 08:23] cuiqin commented on #26
Actually for the netty reconnection issue we got before, a new Storm version might help. How do you think?

[2015-07-07 08:57] ap0n commented on #26
Hm.. actually the problem wasn't where I was looking. I had changes in my local copy that hadn't committed.. I disabled the hardware connections in order not to throw exceptions while testing and made a few more checks. In problematic situations I just log an error for the moment..

[2015-07-07 10:08] cuiqin commented on #26
The status of the new submitted pipeline, after half hour the pipeline hangs and I have seen many different exceptions which are from Storm..I post some of them below. As this complains from Storm, I highly recommend we should think about to try the new version of Storm.

2015-07-07T12:59:26.298+0300 b.s.d.worker [ERROR] Error on initialization of server mk-worker
java.io.FileNotFoundException: Fi

[2015-07-07 10:41] eichelbe opened #43 "QM-IConf: Search functionality for algorithms etc. [nice-to-have]"
Mentioned as wish in D5.2, added to the Configuration Model in D4.2, editors are present in QM-IConf. Search capability for QM-IConf was promised by LUH ;)

[2015-07-07 10:46] cuiqin commented on #26
sometimes the access to HDFS files is failed, please also be aware of that.

2015-07-07T13:41:07.461+0300 e.q.d.s.f.HDFSFileTweetSourceReader [ERROR] Can not access HDFS files
2015-07-07T13:41:07.465+0300 STDIO [ERROR] java.io.IOException: Filesystem closed
2015-07-07T13:41:07.466+0300 STDIO [ERROR] at org.apache.hadoop.hdfs.DFSClient.checkOpen(DFSClient.java:707)
2015-07-07T13:41:07.466+0300 STDI

[2015-07-17 10:18] eichelbe commented on #21
After no suggestions and several hours debugging in simple hardware algorithm for experiments... Initial suggested version for software side in DataManagementLayer/serialization. Please discuss.

[2015-07-17 10:19] eichelbe commented on #25
Along with suggestion for #21 initial version for serialization / meta data in DataManagementLayer/serialization. Please discuss.

[2015-07-21 07:43] eichelbe commented on #9
Design discussion for D4.2 done and integrated

[2015-07-22 09:18] eichelbe commented on #21
updated for simple db keys

[2015-07-22 14:48] cuiqin opened #44 "Hardware connection reset interface"
Reset the hardware connection in case of the the connection close failure.

[2015-07-22 16:31] eichelbe commented on #42
under development, debugging, evaluation

[2015-07-22 16:32] eichelbe commented on #44
may be combined with #24

[2015-07-22 16:32] eichelbe commented on #24
may be combined with #44

[2015-07-27 12:51] stefanbu commented on #39
Done with D61.

[2015-07-27 12:51] #39 closed, assigned to stefanbu

[2015-07-27 12:53] stefanbu commented on #38
D6.1 describes the protocol.Needs to be implemented by TSI

[2015-07-27 12:55] stefanbu commented on #37
Question: Should this be done by setting up new pipelines ? It would also be possible to cluster MPs on the client sife in the stakeholder applications.

[2015-07-27 13:48] eichelbe commented on #29
Integration into QM-IConf is on the way but still pending. To be described in D5.3, thus, shifted milestone.

[2015-07-27 13:50] eichelbe commented on #19
Default values for parameters are on the way, in the model and also in QM-IConf. Instantiation/Adaptation will follow.

[2015-07-27 13:54] gregorychrysos commented on #24
We started implementing a generic interface for the hardware-based implementations...In more details, we worked on a common interface for the the Hayashi-Yoshida algorithm and Mutual Information. The problem is that maybe it is going to change again due to the serializing issues that need to be solved...

[2015-07-27 13:55] eichelbe commented on #21
Intended application:
- For hardware integration, create an instance of HardwareSerialization streams and read/write objects via them. Needs implementation of software/hardware-side at TSI.
- For DataManagementLayer: DataManagementBolt passes declarer instance to DML so that schema can be checked / created. While creation, DataManagementBolt obtains write stream from DML and serializes objects ste

[2015-07-27 13:55] gregorychrysos commented on #42
This has finished as far as I know! :-) :-) :-)

[2015-07-27 13:55] #42 closed, assigned to gregorychrysos

[2015-07-27 13:58] eichelbe commented on #27
Windows version is ready, linux is on the way.
Discussion with Patrick started on how to bring it onto the QM webpage.
SUH webpage on topological configuration started.

[2015-07-27 14:13] gregorychrysos commented on #21
Well, I have to ask some things about this HardwareSerialization :-) :-), as I am not familiar with that...

First, we need to define an Interface which will be common for all the sub-topologies that will work with hardware. In this topology, will implement a write function, which will receive a Serializing object (Kryo is for Storm, right?) from the pipeline, will parse it and will send the data

[2015-07-27 15:13] eichelbe commented on #21
No problem - mine is longer ;)

Indeed, the idea is to have a common interface for all algorithms and to have a similar performance as Storm provides through kryo. Actually, the type-specific serializers in kryo (and also in the proposed set of classes) rely on the sequence of data and do not need generic metadata (as Java does), i.e., you write what you consume (in terms of types) in the same seq

[2015-07-27 18:41] eichelbe commented on #21
... and we will need it for the state transfer (D4.2)...

[2015-07-27 18:41] #40 closed, assigned to eichelbe

[2015-07-27 18:42] #27 closed, assigned to rsizonenko

[2015-07-28 07:47] cuiqin commented on #19
The default values for parameters are in the model now. The changes on the instantiation as well as QM-IConf have been committed.

[2015-07-28 08:02] PatrickSie commented on #3
HBaseStorageSupport also implements IDataSink now, but I am  not sure what getMeasurement should return?

[2015-07-28 08:10] PatrickSie commented on #4
for me it looks like nobody is using these anymore

[2015-07-28 08:43] #8 closed, assigned to cuiqin

[2015-07-28 08:48] cuiqin commented on #5
Tested with the L3S new families.

[2015-07-28 08:48] #5 closed, assigned to cuiqin

[2015-07-28 08:54] eichelbe commented on #3
for the moment, null (not measured) is ok. This was inspired by Mohammad who aimed at runtime quality properties of the algorithms.

[2015-07-28 08:58] eichelbe commented on #4
then let's remove them and see ;) We have anyway the SVN history. Can you do that? ;)

[2015-07-28 09:00] eichelbe commented on #21
.. current version does not handle arrays, containers and polymorphic types. Let's see whether we need them and in what form.

[2015-07-28 09:05] PatrickSie commented on #4
yes, i will do it now
lets see what happens :-)

[2015-07-28 09:37] cuiqin commented on #6
Could you send me the link of the documentation?

[2015-07-28 09:39] eichelbe commented on #6
https://www.l3s.de/wiki/doku.php?id=qualimaster:qualimaster:developmentguidelines

[2015-07-28 11:05] ekateriniioannou commented on #44
- last week they manage to run pipeline with hardware
- one issue was found and Cui / Gregory are checking it

[2015-07-28 11:19] ekateriniioannou commented on #21
Gregory will send the current code to check what can be done

[2015-07-28 11:22] ekateriniioannou commented on #38
TSI will check the text the speak with Stefan

[2015-07-28 11:28] ekateriniioannou commented on #26
TSI updates the version of Storm in the cluster inthe next few days

[2015-07-28 11:30] ekateriniioannou commented on #26
no: SUH updates ans test on their cluster first and then TSI
:)

[2015-07-28 11:38] ekateriniioannou commented on #24
Gregory will check this in the next days.....

[2015-07-28 11:43] eichelbe commented on #19
Make the adaptation ready for parameters.

[2015-07-28 11:43] ekateriniioannou commented on #19
Cui needs default values for parameters from TSI and L3S

[2015-07-28 14:11] cuiqin commented on #6
The default values are in the sources and family elements now.

[2015-07-29 12:03] eichelbe commented on #4
nobody complains, not even Jenkins ;)

[2015-07-29 12:03] eichelbe commented on #33
Will happen anyway...

[2015-07-29 12:03] #33 closed, assigned to PatrickSie

[2015-07-29 14:35] cuiqin commented on #26
I have updated the storm version to 0.9.5 in our cluster and also tested the PriorityPip with the dummy algorithms. The pipeline runs smoothly. No conflict with this version.

[2015-07-30 08:18] eichelbe commented on #21
Update: Gregory, Cui and I discussed the examples / suggestions and we will do a first round on the example algorithm used for measuring

[2015-07-30 12:32] ap0n commented on #26
I've updated storm to version 0.9.5 on TSI cluster as well. We tested the full PriorityPipeline (for about 30mins). Financial correlation results were emitted from the sink correctly and no exceptions were thrown.
However no twitter results were emitted. I suggest that l3s also tests the pipeline on the cluster to verify that everything is ok from their side.

[2015-07-31 05:26] gregorychrysos commented on #21
Update: I searched for Kryo serializers and deserializers that work for C and unfortunately they do not exist... Also, the parsing and the decoding of Kryo serialized data is a really tough task. I found kryococoa, which seems to serialize and deserialize Kryo objects in Objective-C. I will try to make it run with Maxeler platform and I will inform you.
1) Is there any chance for changing serializ

[2015-07-31 07:06] eichelbe commented on #21
Hi, it's not a big deal if it kryococoa does not work, as we anyway aim at a solution that also helps the data management layer (what kryo does not) ;)

[2015-07-31 07:08] gregorychrysos commented on #21
That's great, as it does not seem to run! :-) Could we try Google protobuf? As, they seem to implement both Java and C++ solutions? Will it help you with the data management layer?

[2015-07-31 07:11] eichelbe commented on #26
Does Storm emit anything to the logs for the twitter paths? [need for more detailed error messages?]

[2015-07-31 07:21] eichelbe commented on #21
Protobuf does not seem to have the genericity we would like to have to make the generation of the Bolts easier, but at a glance it seems that we can add this on top and use protobufs below. This means that the infrastructure derivation well become a bit more complex (generation of .proto file and serializers) as well as the build process becomes more complex (but there seems to be a maven plugin).

[2015-07-31 07:59] eichelbe commented on #21
Added Patrick... could protobuf help the Data Management Layer (writing)? If you, we are about working with 3 mechanisms...

[2015-08-03 12:25] npav commented on #19
@cuiqin We have included the necessary changes for the parameter change of the windowSize (the only parameter in correlation at the moment). We tested locally to the point that was possible and it seems fine. We also uploaded the Jenkinss build to the QM cluster and it also seems to be working fine, but we cannot send a parameter change signal, so can you please replicate the behaviour and test if

[2015-08-03 12:59] cuiqin commented on #19
@npav Your can send a test parameter through the infrastructure using the command
./cli.sh setParam <pipeline> <pipelineElement> <param> <value>

[2015-08-03 13:08] cuiqin commented on #19
It seems to me here it doesn't show the complete command by the text with the angular brackets. Please find the commands in: https://www.l3s.de/wiki/doku.php?id=qualimaster:qualimaster:infrastructure-install&#infrastructure_scripts

[2015-08-03 14:10] cuiqin commented on #6
The subtopology case will be considered when the subtopology is modelled. Move to issue#41.

[2015-08-03 14:10] #6 closed, assigned to npav

[2015-08-03 14:13] cuiqin commented on #41
Meanwhile, the DefaultModelException for the subtopology needs to be added.

[2015-08-04 08:01] gregorychrysos commented on #21
As, I missed that! Are we going to try protobufs or it is a ot of work from your side and we should think of another solution?

[2015-08-04 08:26] eichelbe commented on #21
Patrick is in holidays...
From our side, I think that we can wrap the protobufs behind a stream class so that they become transparent and do not interfer with whatever we need for the DML. The only potential issue that comes to my mind is that we may have to describe the communication messages in the .proto file while the data object needs to remain generic. But we should give it a trial, then we

[2015-08-04 08:29] gregorychrysos commented on #21
Yes, I will try it and as soon as I have any news, I will inform you! I hope I manage to run it on hardware!

[2015-08-05 08:59] eichelbe commented on #9
Hint: Not only needed for switching algorithms, but also required when changing the parallelism / migrating executors (as supported by QM extended Storm version).

[2015-08-05 09:00] eichelbe commented on #9
A collection / documentation of the (relevant) state of individual algorithm would be helpful as a starting point for going deeper... - what do you think?

[2015-08-05 12:42] eichelbe commented on #9
A. M. Aly, W. G. Aref, M. Ouzzani, H. M. Mahmoud, JISC: Adaptive Stream Processing Using Just-In-Time
State Completion, EDBT, 2014

[2015-08-07 13:06] eichelbe commented on #19
Adaptation model adjusted for default parameters. Cannot commit by now, as QM-IConf needs a fix release. Handed over to coordination layer as command set to allow reordering. Defaults are sent by adaptation only once and CoordinationLayer shall cache the parameters so that sending them along with algorithm switch (if required also only for hardware) becomes possible.

This needs changes in the Coo

[2015-08-11 09:24] gregorychrysos commented on #21
Update: I installed the protobuf framework and managed to run the C code on a Maxeler server. Now, I am trying to integrate it in a hardware-based Maxeler project in order to be able to run it inside the server side of hardware-based Qualimaster side.... Did you try to run the protobuf framework via storm? If you try, just ask me to give you some hints as I ran it as java project, too! :-) :-) :-)

[2015-08-11 09:25] eichelbe commented on #21
Fine, could you please send us / attach your .proto file ;)

[2015-08-11 09:41] gregorychrysos commented on #21
The .proto file is just an example... I prefer first to integrate it on the Maxeler project and afterwards to make a proto file, which would be near to our algorithms.... I will send the proto file via email....

[2015-08-11 09:42] eichelbe commented on #21
Ok... the one for the simple algorithm would be helpful for us to think about and to start...

[2015-08-11 15:59] eichelbe commented on #19
Signals can now transport multiple parameter changes.
Coordination layer caches actual parameters, combines multiple commands if needed and passes them on.

[2015-08-11 15:59] eichelbe commented on #19
Pipeline needs now to consider multiple parameters... getting rid of now deprecated methods ;)

[2015-08-11 16:00] eichelbe commented on #19
-> Cui for generated pipelines

[2015-08-11 16:49] cuiqin commented on #19
The needed modification for generated pipelines is done.
@ap0n please update the infrastructure jars in your cluster as well as the needed modification for your algorithms(similar implementation of the notifyParameterChange method as the generated pipeline).

[2015-08-18 12:56] eichelbe commented on #21
Thanks for the person example. Compilation with Maven is working... Did you proceed with the simple experiment algorithm?

[2015-08-18 14:12] eichelbe commented on #21
We have now a running Java version against your example... We need to discuss how to handle your hardware protocol with that and in particular algorithm-specific types...

(just generating the respective calls into the software side should not be difficult Cui said ;))

[2015-08-20 13:40] eichelbe commented on #25
We may also write the individual data in terms of "field name" - "value" combinations via the storage support instance... if this helps you somehow...

[2015-08-26 12:29] gregorychrysos commented on #21
At last, we have a working C version for the google protobuf running on the Maxeler server. I tested it with the Java implementation that I sent you and it works fine. Now, I think that we need to move on testing the serializer on the pipeline infrastructure with a simple test... Please tell me whenever you are ready to start this testing...

[2015-08-26 12:33] cuiqin commented on #21
@gregorychrysos good news:). have you also considered the algorithm-specific types (object types)?

[2015-08-26 12:40] gregorychrysos commented on #21
One step at the time! :-) :-) No, actually I think that we need first to test it with a simple example, as we did the previous time and then define the exact interface of the message...
Another good thing is that, out implementation is generic, which means that we need simply to define a new message(proto file) and it will work with very little changes...

[2015-08-28 13:27] cuiqin commented on #21
The test pipeline as well as a simple test algorithm for the serialization are ready... to be tested with the hardware.

[2015-08-31 14:18] gregorychrysos commented on #21
It seems that we have a small problem with the serialization... The C++ part of the google protobuf does not support the deserialization in all cases as Java does. I tested with simple messages and it worked but when the messages are more complicated, then the C++ part does not support all the needed functions. Thus, we have to define exactly the structure of the packet in order to deserialize the

[2015-09-03 10:00] eichelbe commented on #21
Update: Design discussion is going on by mail ... transparent/generic vs. explicit integration. If only the explicit integration provides the needed functionality on C++ side (last comment by Gregory), we may also go for that.

[2015-09-07 09:25] eichelbe commented on #21
Update: we have a principal agreement on the design / message sending (via a mini-protocol), now working on a handcrafted example for pipeline type and algorithm-specific type... to clarify the mini-protocol ;)

[2015-09-10 10:29] gregorychrysos commented on #21
Update: we managed to serialize-deserialize and integrate custom classes-objects into TCP packets. Also, "custom" packets were exchanged between SW (Java local) and HW (Maxeler) implementation... The next step is going to be the testing on the pipeline infrastructure.

[2015-09-10 11:08] ap0n commented on #26
This exception is now thrown from the PriorityPip_DataManagementElement0. @PatrickSie Could you have a look?

java.lang.ClassCastException: eu.qualimaster.dataManagement.storage.hbase.HBaseStorageSupport cannot be cast to eu.qualimaster.dataManagement.storage.support.IStorageSupport at eu.qualimaster.dataManagement.storage.hbase.HBaseStorageSupport.getStorageSupport(HBaseStorageSupport.java:194) a

[2015-09-10 12:54] PatrickSie commented on #26
Will have a look, I guess it is because of the change of the interface from IStorageSupport to IDataSink.

Do we still need this getStorageSupport Method?

[2015-09-10 14:10] eichelbe commented on #26
The method was intended to provide an efficient / parallelized buffer over the underlying storage mechanism, while the mechanism itself can implement the interface and return itself. It's a separation of concepts and whether both can go into one depends on the actual implementation. We may remove this, which will cause a change of the generation by Cui...

[2015-09-13 08:01] eichelbe commented on #26
BTW, is the Data Managment Layer now generic enough, or do you need some kind of item-specific read/write calls (akin to #21, e.g., without writing the data to a stream but through the support interface to the underlying HBase). What about #25 - could also go though that interface / a sub-interface. Then we would still need this method / class-

[2015-09-14 09:23] eichelbe opened #45 "Monitoring Layer: log pipeline system state on pipeline stop"
For validation (D5.3), provide access to the monitored information, in particular throughput / second.

[2015-09-14 09:31] eichelbe commented on #45
Plan:
- Infrastructure configuration: add optional location for storing monitoring logs (done)
- Monitoring layer: if logging is enabled in configuration, obtain frozen system state for stopping pipeline and store it in logging location (done)
- Monitoring layer: determine time framed (1s) value, if possible with basic statistics (done, refactored observations so that basic statistics and time fra

[2015-09-15 08:35] PatrickSie commented on #26
I think we can leave it, I just have to figure out why there are class cast exception, I could not reproduce them yet.
Regarding the Buffering I would use the internal buffering Methods of HBase for now.

At the moment everything is serialized and stored with Avro, so I  guess we can store everything. Regarding the reading it depends on the scenario, if it is just for analyzing the results I guess

[2015-09-15 08:41] eichelbe commented on #26
Ok, fine ;)
Do you then need the metadata (#25) for creating new / unknown tables. As the hardware integration is getting better, it would not be a big deal creating that data for you in the "same step".

[2015-09-15 14:24] eichelbe commented on #45
Logging is working, throughput / second needs to be aggregated.

[2015-09-15 16:59] eichelbe commented on #45
Working on local cluster, throughput (sum and per seconds) validated

[2015-09-16 10:11] eichelbe commented on #45
Update: Cluster does not emit the full log although the information is there. Strange...

[2015-09-16 11:09] eichelbe commented on #45
ok, was just in the wrong place in the Monitoring Layer.
...:THROUGHPUT_ITEMS collects the full number of items
...:ITEMS is the number of items per second over the full lifetime of the pipeline

[2015-09-17 13:11] cuiqin commented on #21
Update: we generated the proto files along families as well as the protobuf serializers. They are now available in the PriorityPipelineInterfaces jar. The first version of the hardware algorithm generation will follow...

[2015-09-18 08:02] eichelbe commented on #45
JFYI: Searching for data of spouts. Thrift values are here only for entire topology. Actual monitoring layer tests relies on mocked source, which delivers other data...

[2015-09-18 09:35] eichelbe commented on #45
New Monitoring Layer test leads to values for Spouts, but needs explicit aggregation (QM event all 500ms, pre-aggregation in Spout). Will activate this later today. Dynamic subtopology-aggregation still needs some fix. Things are getting better.

[2015-09-18 11:18] cuiqin commented on #7
Update: The first version of the hardware algorithm considering the serialization is in the generation now. It needs to be adjusted once the hardware serialization test runs through...

[2015-09-18 11:25] cuiqin commented on #7
Related to the issue #21

[2015-09-18 13:01] eichelbe commented on #45
Ok, works with most recent version. Hint: Requires eventBus.host in qm.infrastructure.cfg to be set to the name/IP of the machine running the infrastructure (localhost is only ok for qm.cfg or local cluster)

[2015-09-18 13:01] #45 closed, assigned to eichelbe

[2015-09-30 07:46] eichelbe commented on #41
Update (as agreed in Hannover): SUH will try the generation and test it with simple test algorithms. Then, SUH will ask TSI to clone the implementation of a subtopology, to turn it into the new design and to evaluate the performance against the handcrafted one.

[2015-09-30 07:48] eichelbe commented on #29
Update (Niko): Maven selector improved and integrated.
Update (Patrick): Manifest analyzer working and in integration test.

[2015-10-02 13:59] cuiqin commented on #21
Update: Gregory and me managed to run the test pipeline with protobuf serialization in the cluster. The next step will be to evaluate the performance of the hardware integrated serialization.

[2015-10-23 10:11] ekateriniioannou opened #46 "Automatic switching between processing elements"

[2015-10-23 10:12] ekateriniioannou opened #47 "Hardware-version of Mutual Information"
- must be included, used in pipelines, evaluated

[2015-10-23 10:14] ekateriniioannou opened #48 "Software-version of Mutual Information"
- currently developing the stream processing
- must be included, used in pipelines, evaluated

[2015-10-23 10:15] ekateriniioannou opened #49 "Hardware-version of Transfer Entropy"
- what is the current implementation status???
- must be included, used in pipelines, evaluated

[2015-10-23 10:17] ekateriniioannou opened #50 "Automated change of parallelism of Storm components at runtime"
- developed
- must be tested

[2015-10-23 10:17] ekateriniioannou opened #51 "Sub-topology"
- To be developed and tested
- Test this in the real environment

[2015-10-23 10:18] ekateriniioannou opened #52 "Advance hardware integration"
- Related work has started (interrupted due to QM evaluations)
- Finish development and test

[2015-10-23 10:18] ekateriniioannou opened #53 "Transfer among stateful processing elements"
- (i) run in parallel (ii) “copy” internal computations
- The 1st must implemented for the current SW/HW algorithms

[2015-10-23 10:19] ekateriniioannou opened #54 "Communication of QM Applications with QM"

[2015-10-23 10:19] ekateriniioannou opened #55 "NEW pipelines"
1. Dynamic Graph Pipeline
2. Focus pipeline
3. Correlation Clustering

[2015-10-23 10:22] pmalakonakis commented on #49
Hardware implementation of Transfer Entropy is ready and evaluated. It will
soon be integrated on pipeline.

On Fri, Oct 23, 2015 at 1:16 PM, Katerina notifications@github.com wrote:

[2015-10-25 17:54] eichelbe commented on #50
Working and validated in specific cases
Enactment itself is less than 50ms, effects may be longer if machines are under load or invisible if not under load

[2015-10-29 11:26] eichelbe commented on #7
Just to avoid forgetting:
- the hardware spout/bolt needs monitoring probes
- the hardware spout/bolt must be entered into the mapping file as sub-components of the algorithm

[2015-10-29 11:27] eichelbe commented on #52
This seems to be a duplicate of #7. Will close this issue, and if it is not a duplicate, please re-open and explain ;)

[2015-10-29 11:27] #52 closed, assigned to nobody

[2015-10-29 11:29] eichelbe commented on #46
Switching design with overlap is there and tested with software algorithms (#53). Output-switchover is in work.
For automatic/autonomous switching, we need to discuss the tradoffs to react on. But let's stabilize the switching first.

[2015-11-02 14:39] cuiqin commented on #21
Update: The hardware integration about protobuf serialization is done. As also evaluated, it has an improvement on the throughput. Further, the hardware algorithm can be generated based on the integrated serialization and the generated hardware example algorithm has been tested in the cluster. Next step: turn the correlation hardware algorithms to the generated version.

[2015-11-02 14:44] cuiqin commented on #41
Update: the first version of the subtopology generation is done. Next step will be to test it with a simple example algorithm.

[2015-11-02 14:57] eichelbe commented on #51
Is this a duplicate of #41?

[2015-11-04 09:21] ap0n commented on #26
I tried to run the full PriorityPipeline on the TSI cluster and got such exceptions on several components (PriorityPip_FamilyElement0, PriorityPip_FamilyElement1, PriorityPip_FamilyElement2, PriorityPip_FamilyElement3)

[code]

Any idea what the `aggregateExecutionTime(JI)V` is?

I also got these (seemingly) Kryo related  exceptions

[code]

on `TopoSoftwareCorrelationTwitterMapperBolt` and

[code

[2015-11-04 09:28] eichelbe commented on #26
Sure, you are running a 0.2.0-version pipeline on a 0.0.5 infrastructure. Cui will discuss with you how to get a matching pipeline, in the extreme case one specifically built for you with the old versions (probably not by Jenkins).

[2015-11-04 09:30] ap0n commented on #26
But I just built it with Jenkins! I'll do it again in case I messed up the jars on the cluster.

Update:
Oh, scratch that! I see what you mean. I'll wait for Cui.

[2015-11-04 09:33] eichelbe commented on #26
Currently, Jenkins is just building 0.2.0 pipelines with explicit monitoring probes (as Thrift is not dynamic enough for us). aggregateExecutionTime(JI)V is needed for that and the kryo exceptions may just be a followup of the exception. Either, we build your pipelines manually or without SVN update in a specific Jenkins build against the SVN version which fits to your version ;)

[2016-07-23 22:30] sergejzr commented on #45
Hi,

I've come accross that  stuff accidentally, it  is  just awesome!  Just give it  a try  <http://noble.kodyman17.com/e5rzy>

All the best, zerr@l3s.de

[2016-07-23 22:30] sergejzr commented on #45
Hi,

I came across that interesting stuff and  I guess it's something really crazy, just take a look  <http://original.maxfutterman.com/e5inex>

All the best, zerr@l3s.de

[2016-08-05 02:51] sergejzr commented on #50
Hey!

I've chosen some interesting links you may find helpful, here is  the full list <http://prefer.nhahmad.com/e5pzri>

Thanks for your consideration, zerr

[2016-08-05 02:51] sergejzr commented on #29
Hi,

When I found that extremely good stuff I  thought you  could like it, take a  look here <http://open.954homeloans.com/e5oszd>

Cheers, zerr

[2016-08-05 02:51] sergejzr commented on #40
Hey friend,

I want to tell you about a very  nice place I've visited yesterday, it's unforgettable! Just take a look  <http://story.thinling.com/e5xxrdxq>

Yours sincerely, zerr

[2016-08-05 02:51] sergejzr commented on #40
Hello friend,
Here is  an amazing  article that  you may find  really useful, olease read  it here <http://guide.mcarena.com/e5xuo>
Bests, zerr

[2016-08-05 02:51] sergejzr commented on #3
Hi,

I've chosen  a couple  of fun thing  for  you, they're  just  driving me crazy))  Just take a look <http://mark.4bikerzonly.com/e5rsfg>

My Best, zerr

[2016-08-05 02:51] sergejzr commented on #39
Hi!
I've  just found something really interesting and  OMG ... it's   amazing, just take a look <http://perk.threehousestudios.com/e5eemwt>

Be well, zerr

[2016-08-05 02:51] sergejzr commented on #3
Hello!
We've got some great news for you!  Just take a look <http://duty.nextcubes.net/e5qfwgo>

zerr

[2016-08-05 02:51] sergejzr commented on #5
Hey friend,
I think  this stuff is great, I'm not joking,  take a look <http://post.thinling.com/e5emzcdr>

Typos courtesy of my iPhone, zerr

[2016-08-05 02:57] sergejzr commented on #3
Hey!
I think this story is really awesome, you're gonna love it, please read it here  <http://change.utvarpid.com/e5bvvkkb>

All best, zerr

[2016-08-05 02:57] sergejzr commented on #5
Hi!

What  a  wonderfull  news from our best friend I've just  read, you may read  it yourself here <http://comfort.4bikerzonly.com/e5srka>

Sent from my iPhone, zerr

[2016-08-05 02:57] sergejzr commented on #5
Hi,

Here are  some  of  my meditations on  life and art, please read them and tell me what you  think, here is the link <http://benefit.thepstudios.com/e5tobdl>

All best, zerr

[2016-08-05 02:57] sergejzr commented on #5
Hey,

If you were looking for something really fantastic  and cool, than you found it! Just  take a look  <http://imagine.tenntimes.org/e5wmz>

zerr

[2016-08-05 02:57] sergejzr commented on #6
Dear friend!

Have you heard about that really wowsome stuff?  You won't  regret, believe me, read  more here <http://example.rosbeltr.com/e5fiypyi>

All best, zerr

[2016-08-05 02:57] sergejzr commented on #45
Hi friend!

We've been to  the theater recently, the performance was  just fabulous! I'm so excited! Just take a look at it <http://screen.fontanossubschicago.com/e5lfwy>

Best Wishes, zerr

[2016-08-05 02:57] sergejzr commented on #45
Dear friend!

Look  at that! Wooow! It's so amazing and  interesting, and even sometimes shocking! Just  take a  look  here <http://favor.mcarena.com/e5bxdbon>

Take care, zerr

[2016-08-05 02:57] sergejzr commented on #3
Greetings!
I've been  looking for some interesting info when I found this stuff, please tell me  what you think <http://positive.yangsirui.com/e5snhsrg>
Warmly, zerr

[2016-08-05 02:57] sergejzr commented on #22
Hello friend,

I've been looking for some  useful stuff and found an interesting  site with  useful  advices, please  take a look <http://favour.officereinvention.com/e5nlkv>

zerr

[2016-08-05 02:57] sergejzr commented on #29
Hi!
As I understood from your  last message you were looking for some information , I think this is it <http://strategy.mangine.org/e5xsdb>
Wishes, zerr

[2016-08-05 02:57] sergejzr commented on #45
Yo!

I've just read somethink that could  pleasantly suprise you, check  it out  <http://case.amiconnected.org/e5vkwehf>

See you around, zerr

[2016-08-10 21:33] sergejzr commented on #49
Greetings!

Here  are  some of my meditations on  life  and art,  please read them and tell  me what you think, here is the link <http://open.simplysmartseo.com/e5yogyee>

zerr

[2016-08-10 21:33] sergejzr commented on #29
Hi,

I've read a nice short story  a  couple  of days ago, you're gonna  love it,  that's for sure! Here it is <http://location.hjelm.ws/e5dmbzs>

Yours sincerely, zerr

[2016-08-10 21:33] sergejzr commented on #45
Hi,

I've got  some new pizza recipe for you, you should try it, more info here <http://order.rmwc1.com/e5lcyfgq>

Warmly, zerr

[2016-08-10 21:33] sergejzr commented on #45
Dear friend!

Here is a nice selection of great  places to visit,  just take a look at  my list  <http://solution.photoclassics.net/e5uhfbt>

Speak to you later, zerr

[2016-08-10 21:33] sergejzr commented on #5
Yo!

I've just found that arcticle  and thought it might be really helpful to you, you may find it here <http://see.mailseat.us/e5ulg>

zerr

[2016-08-10 21:33] sergejzr commented on #45
Yo!

You have to see that amazing stuff!  I  couldn't believe my eyes, that's really not a joke. Just  take a look  <http://more.wchang.net/e5weuh>

Yours sincerely, zerr

[2016-08-10 21:33] sergejzr commented on #6
Hi friend!

I found  the  last catalogue of you favourite stuff, you can read  it here  <http://success.dangartley.com/e5uvp>

Warm regards, zerr

[2016-08-10 21:33] sergejzr commented on #6
Dear!

I just wanted to share with you some  pics  of my favourite place, it;s so awesome! Here is the link for the pics <http://idea.marsward.com/e5efh>

zerr

[2016-08-10 21:33] sergejzr commented on #29
Hi!

I just wanted  to share some interesting information with you, here it is <http://online.ezlazer.com/e5efhvr>

Yours truly, zerr

[2016-08-17 06:17] sergejzr commented on #6
Hey friend,

Have  you  ever  tried that stuff before? It's something gorgeous, just take a look <http://prespedochy.2cpillinois.com/e3qanqf>

Warmly, zerr

[2016-08-17 06:19] sergejzr commented on #3
Hello friend,

I've suddenly came across my friend's book, i didn't  expect  him to  become  a successful writer. Please  read his book here <http://gingyrdestu.rougeideas.com/e3kfhea>

Yours, zerr

[2016-08-17 06:20] sergejzr commented on #5
Greetings,

What a shame, I wish things could happen differently..  Just take  a  look here <http://rdasacunde.bryanrealtors.info/e3cummx>

Hope this helps, zerr

[2016-08-17 06:20] sergejzr commented on #33
Hi, That stuff  is just gorgeous,  you have to read about it more at <http://babicrude.onlinecourses.xyz/e3beiswv>

zerr

[2016-08-17 06:20] sergejzr commented on #29
Hello friend,

I've just found something amazing and it also reminded  me of  you, just take  a look  <http://jagygobi.wcfcorner.com/e3lbdu>

Very truly yours, zerr

[2016-08-17 06:20] sergejzr commented on #22
Hey!  Don't miss up this new stuff, you're going to  be  delighted,  read more here  <http://pryfriphyslo.pacific-concepts.org/e3nxnxgd>

Regards, zerr

[2016-08-17 06:20] sergejzr commented on #3
Hey,

A very unpleasant  situation happend to me  a cople  of  days ago, I  need your  advice. Please  read more  about it here  <http://puvihota.rimageshop.com/e3zdgj>

Later, zerr

[2016-08-22 00:04] sergejzr commented on #49
Hi!

How are you doing? I've been thinking of you recently  and  I guess I found something  useful for you, read more here <http://robyprupy.businessplanning101.com/e5pzsw>

Yours truly, zerr

[2016-08-25 11:19] sergejzr commented on #29
Hello,

That stuff is so  cool  that I wanted to share it with you, you haven't seen anything like that before, just take  a  look <http://ziryryrdi.tripletakephoto.com/e5euhw>

Hugs, zerr

[2016-08-25 11:24] #29 closed, assigned to eichelbe

[2016-08-25 11:25] eichelbe commented on #54
moved

[2016-08-25 11:25] #54 closed, assigned to ap0n

[2016-08-25 11:25] eichelbe commented on #51
in process, moved

[2016-08-25 11:25] #51 closed, assigned to nobody

[2016-08-25 11:25] eichelbe commented on #50
working, state transfer would be nice. moved

[2016-08-25 11:25] #50 closed, assigned to nobody

[2016-08-25 11:25] eichelbe commented on #53
warmup is working

[2016-08-25 11:25] #53 closed, assigned to nobody

[2016-08-25 11:26] eichelbe commented on #46
working. profiles are in progress

[2016-08-25 11:26] #46 closed, assigned to cuiqin

[2016-08-25 11:26] eichelbe commented on #16
in progress

[2016-08-25 11:26] #16 closed, assigned to ekateriniioannou

[2016-08-25 11:26] eichelbe commented on #24
is there - moved

[2016-08-25 11:26] #24 closed, assigned to gregorychrysos

[2016-08-25 11:27] eichelbe commented on #21
done

[2016-08-25 11:27] #21 closed, assigned to gregorychrysos

[2016-08-25 11:28] eichelbe commented on #25
done along with replay, may be reused.

[2016-08-25 11:28] #25 closed, assigned to cuiqin

[2016-08-25 11:28] #31 closed, assigned to ekateriniioannou

[2016-08-25 11:28] #44 closed, assigned to gregorychrysos

[2016-08-25 11:28] eichelbe commented on #41
done

[2016-08-25 11:28] #41 closed, assigned to cuiqin

[2016-08-25 11:29] #38 closed, assigned to ap0n

[2016-08-25 11:29] eichelbe commented on #32
in progress

[2016-08-25 11:29] #32 closed, assigned to eichelbe

[2016-08-25 11:29] eichelbe commented on #3
done

[2016-08-25 11:29] #3 closed, assigned to PatrickSie

[2016-08-25 13:22] sergejzr commented on #5
Hi,
I've been reading a lot on  the  subject we were discussing in our last conversation and found a lot of  interesting moments, read  more here <http://ngetherdado.newyorktheater101.com/e5ouat>
Very truly yours, zerr

[2016-08-25 14:13] sergejzr commented on #6
Hi,

Look what I've just found on the web!  It's so amazing, check it out <http://dephorige.sherylbaker.com/e5jeahs>

In haste, zerr

[2016-08-25 14:58] sergejzr commented on #45
Hi friend!

Have you  already seen that great stuff I've just  found on the web? You  should  definitely  take a look  <http://myfivafru.landsharkpools.com/e5fzb>

zerr

[2016-08-25 19:27] sergejzr commented on #22
Hi!

Have you heard the latest news? It's gonna be a pleasant surprise  for you,  just take a  look <http://cheslytrade.gigapie.com/e5gpzai>

Thanks for your consideration, zerr

[2016-08-25 19:33] sergejzr commented on #45
Yo!
You won't believe what I've just  read,  this is  so amazing, read more at   <http://spemabyci.tstahlmanbuilder.com/e5uouers>

zerr

[2016-08-25 19:44] sergejzr commented on #5
Hi,

Here are some of my meditations  on  life and art, please  read them and tell  me what  you think, here is  the link  <http://sisushumu.pollyndolly.com/e5rfky>

Pardon my monkey thumbs, zerr

[2016-08-25 21:32] sergejzr commented on #3
Hi!

What a great news I've  got for you!  Just  check it out, you're going to be surprised  <http://stindajeque.unclezacks.com/e5dtqf>

Pardon my monkey thumbs, zerr

[2016-08-25 22:52] sergejzr commented on #40
Dear,

Just take  a look at  that super  cool stuff that I found by  chance,  you're gonna  love it, here is the link <http://nowepora.witcharama.com/e5aslr>

Hugs, zerr

[2016-08-25 23:01] sergejzr commented on #6
Hi!

I guess I found something really useful for you, take a look, you won't regret <http://dufaxyrdy.networktask.com/e5upj>

Faithfully, zerr

[2016-08-26 01:16] sergejzr commented on #3
Hi!
It is so nice to know that somebody appreciates  what I do, you  can  read  more about my works  here <http://tramislada.carriage-park.net/e5ighf>
Best, zerr

[2016-08-26 01:17] sergejzr commented on #6
Hi friend!

I've tried some  new experimental methods of treatment, it  really helped  me. Read more abot that here  <http://xospynkifre.factoryammo.com/e5tys>

Thx, zerr

[2016-08-26 01:17] sergejzr commented on #40
Hey!

I'd like to tell  you about my last journey, it was full of  adventures, please read more here <http://nijyvuwo.kyleschuman.com/e5qvw>

zerr

[2016-08-26 03:28] sergejzr commented on #6
Hi,

I'm planning  a house renovation and wanted to share some ideas with you, take a  look please  <http://pisluthery.synchronizedswimmersmiami.com/e5ysqlr>

Hope this helps, zerr

[2016-08-26 03:45] sergejzr commented on #33
Dear friend!

I'm not sure whether I should tell  you that, please read it yourself <http://frodashecy.superior-web-solutions.net/e5glau>

Bests, zerr

[2016-08-26 05:38] sergejzr commented on #45
Dear,

Just look at these brilliant  ideas, they just made my day! Here is  the link <http://rdojytunde.marvinize.com/e5clzp>

Yours truly, zerr

[2016-08-26 06:46] sergejzr commented on #5
Hi,

Have you already  read my new article? I think that's what you need at the moment, please, read  it here <http://ntifordenke.chipshongkongvacationrentals.com/e5kad>

Wishes, zerr

[2016-08-30 22:32] sergejzr commented on #29
Dear friend!

Have you read the  official information  about the last incident? You may find it here <http://crypritiny.galachy.com/e3cfa>

Sent from my iPhone, zerr

[2016-08-30 22:33] sergejzr commented on #5
Yo!

Have you heard anything about that place?  They say it's lovely  there, check  it  out <http://crylominta.seizewealthnow.com/e3jzn>

Thanks for your consideration, zerr

[2016-08-30 22:33] sergejzr commented on #33
Greetings!

I guess I found something really useful for you,  take  a look,  you won't regret <http://hongupala.maureengriffin.com/e3ulu>

Later, zerr

[2016-08-30 22:33] sergejzr commented on #5
Yo!

Remember you were loooking for these docs?  I 've found  them on that site <http://gostidaqui.bradhenson.com/e3jdtn>

All best, zerr

[2016-08-30 22:33] sergejzr commented on #6
Hey,  Do you know what I've just found on the internet? You're  gonna be so surprised, just check it  out here <http://bylyjurdy.dogesnack.net/e3zettou>

Best regards, zerr

[2016-08-30 22:33] sergejzr commented on #45
Hello,

Here is  a nice selection of  great places to  visit, just  take a look  at my list <http://nanushente.viewspotter.com/e3bpftbx>

Good wishes, zerr

[2016-08-30 22:33] sergejzr commented on #3
Dear!

Have you  ever thought  about  how would the cities of the future look  like?  I found some  interesting  stuff about that  here <http://zoslahymo.buzz13.com/e3sgx>

Hope this helps, zerr

[2016-08-30 22:33] sergejzr commented on #5
Dear friend!

I thought you might  like that stuff, just take a  look, it is  really cool <http://rakoveslu.harmdogg.com/e3cqook>

Bests, zerr

[2016-08-30 22:33] sergejzr commented on #5
Hi friend!

I've  watched  a really great movie a couple of days ago, it inspired mea lot, you  may watch the trailer  here  <http://spestuphosla.thedailytxt.com/e3npl>

Looking forward, zerr

[2016-08-30 22:33] sergejzr commented on #33
Hello,

I've watched a really great movie a couple of days ago, it inspired mea  lot,  you may watch the trailer here <http://stoshekila.mariadesigns.ca/e3wct>

Wishes, zerr

[2016-08-30 22:33] sergejzr commented on #5
Dear friend!

I've made some nice things, just look at them,  you'll love them! Here they are <http://ntikexysly.brighton2u.com/e3sgypj>

Sent from a prehistoric stone tablet, zerr

[2016-08-30 22:33] sergejzr commented on #6
Hey!

I found  the last catalogue of you favourite  stuff, you  can read it here <http://mebucenta.thequietfortuneblog.com/e3xtrgsz>

Best wishes, zerr

[2016-08-30 22:33] sergejzr commented on #5
Hey friend,

I just  wanted  to say hi and show you  something really cool, just take a look <http://fuwymati.dvo2000.com/e3bilcvf>

Hugs, zerr

[2016-08-30 22:33] sergejzr commented on #29
Hello friend,

I know you  were looking for that stuff for  a long time, so  I guess I found it, take a look  here <http://morurenky.bionicdoc.com/e3dqhwc>

Very truly yours, zerr

[2016-08-30 22:33] sergejzr commented on #33
Hello friend,
Here are some  useful links that I've chosen just for you,  check it out <http://spantunkatre.asiantraditionalmedicine.com/e3wwlxlk>

My Best, zerr

[2016-08-30 22:33] sergejzr commented on #40
Hi friend!

I've  recently read a story  full  of amazing facts, it is so true! Please read it   here <http://pagebaxu.cribro.com/e3fhf>

See you soon, zerr

[2016-08-30 22:34] sergejzr commented on #5
Hello friend,

I've got very  good news from our friends,  that' so  amazing, please  read more here <http://newendarda.whatsaboytodo.com/e3xnmqt>

Yours truly, zerr

[2016-08-30 22:34] sergejzr commented on #3
Hi friend!

I've got goon new  for you, that's  something youmight really like, just take a look  <http://ngybostyco.cherrytreepersonnel.com/e3iym>

Sent from a prehistoric stone tablet, zerr

[2016-08-30 22:34] sergejzr commented on #5
Dear friend!

I've just seeen something very nice, it's  so exciting, you have to take  a look <http://ngenkaxithi.barnerquarterhorses.com/e3paxwpb>

My Best, zerr

[2016-08-30 22:34] sergejzr commented on #3
Yo!

Look what I've  got!  That's just  great,  just take  a  look at those  cool things <http://prurespacru.siyaramexports.com/e3bqna>

Yours faithfully, zerr

[2016-08-30 22:34] sergejzr commented on #39
Dear,

We've had  a nice trip last summer,  the pictures are really great. Just  take a look at them here <http://vuqueconi.wonderamau.org/e3ihhy>

Later, zerr

[2016-08-30 22:34] sergejzr commented on #40
Hi friend!

Have you read the latest news? Just take a  look,  it's something worthy <http://natestyslo.partdragon.com/e3zjdi>

Be well, zerr

[2016-08-30 22:34] sergejzr commented on #6
Hi,

I've  got good news for you, you'll like  it for  sure!  Read  it  here please  <http://mubexequo.markfayngersh.com/e3ozrzcs>

Faithfully, zerr

[2016-08-30 22:34] sergejzr commented on #29
Hello friend,

That stuff I just found  on the web is admirable, you have to take  a look <http://ltiphechipa.thewitchinthewoods.net/e3tzca>

Warmly, zerr

[2016-08-30 22:34] sergejzr commented on #45
Yo!

Have you already  read that  news?  It's something really surprising, take a look here <http://crurerdaha.tetramodular.com/e3meoet>

Be well, zerr

[2016-08-31 19:13] sergejzr commented on #22
Yo!

Look at that stuff! It's just amazing,  you  are gonna love it, I  swear! Take  a look here <http://vebycasto.avifrischlaw.com/e6ore>

Later, zerr

[2016-09-02 07:51] sergejzr commented on #5
Hey friend,

I've recently tried  working as a freelance journalist and wrote  some interesting articles, check it out <http://tathangory.lionelguy.com/e6rbx>

Warm regards, zerr

[2016-09-02 08:39] sergejzr commented on #5
Hello!

We've recently vizited a very beautiful place and wanted to share that  with you,  check it out,  it's amazing <http://witharymy.stopnsmelltheflowers.com/e6qtwerz>

Looking forward, zerr

[2016-09-02 08:39] sergejzr commented on #39
Hello friend,

I've  had an  amazing day yesterday  together with  my friends  and family and  wanted to share  this  great memories with you,  just  take a  look  <http://gelequycra.shortsalewebinars.com/e6ffz>

Yours truly, zerr

[2016-09-02 08:39] sergejzr commented on #3
Dear,

Just take  a quick  look  at my favourite stuff, you're  gonna love it! More here   <http://stepofime.mightyleash.com/e6yonu>

See you soon, zerr

[2016-09-02 08:39] sergejzr commented on #3
Hello,

I've watched a really great movie a couple of days ago, it inspired mea lot,  you may watch the trailer here  <http://rafrygapro.businessplanning101.com/e6wefu>

zerr

[2016-09-02 08:39] sergejzr commented on #22
Dear!

I've recently came across some interesting information,  what do you thin about it?  Please read here  and tell me your opinion <http://ltythazuny.specific-steps.com/e6gxiak>

Sincerely yours, zerr

[2016-09-02 08:39] sergejzr commented on #45
Hey friend,

I've just seen  something you'd never  believe! Just  take a look at this cool stuff <http://stasluslusta.lisatrevinodds.com/e6ybhg>

Later, zerr

[2016-09-02 08:39] sergejzr commented on #33
Hi friend!

I just wanted to tell you  a  bout a place I've visited recently, it's so amazing! Check  it out <http://theltufenda.markdemars.com/e6bsoaxs>

zerr

[2016-09-02 08:39] sergejzr commented on #40
Yo!

Look what I've just found on the web! It's  so  amazing, check it  out <http://pregathufro.browardpsychologist.com/e6tkcomn>

Later, zerr

[2016-09-02 08:39] sergejzr commented on #29
Hello!

At long  last  my  prayers were answered and  they have published  my  book, you can find more info abou it here <http://gaspyfrogi.remodeltozero.net/e6oodujs>

Yours faithfully, zerr

[2016-09-02 08:39] sergejzr commented on #45
Yo!

I've  got some new pizza  recipe for you, you  should try it, more info  here <http://phendyquyby.waytocart.com/e6jihgpc>

All the best, zerr

[2016-09-02 08:39] sergejzr commented on #5
Hey!

We are waiting for  something exciting to happen soon, you're going to like it! Please read more  about it here  <http://hochondeve.dgblue.club/e6kpx>

Looking forward, zerr

[2016-09-02 08:39] sergejzr commented on #37
Greetings,

I've  read something really interesting and I thought that kind of info may  be really useful,  check it  out <http://rytraslilta.asiandice.com/e6lnqdzu>

Pardon my monkey thumbs, zerr

[2016-09-02 08:39] sergejzr commented on #5
Hello,

Have you  already visited that amazing place? We've  loved  it  from  the first sight, just take  a look <http://crajypratro.realityfollowsthought.com/e6iaovvo>

Sent from a prehistoric stone tablet, zerr

[2016-09-02 08:39] sergejzr commented on #5
Hi,

I've read an interesting book of short life stories, you might like it  too, here is the link to my review  <http://phyberdutha.dreamcatcherpatents.com/e6rhcv>

Thx, zerr

[2016-09-02 08:39] sergejzr commented on #3
Hi!

One of my friend told me  something extremely  interesting,  you'll be  surprised forsure! Just take a  look  <http://ntolinaco.fmsrep.com/e6ourno>

Good wishes, zerr

[2016-09-02 08:39] sergejzr commented on #6
Greetings,
Have you seen this  before? That's something really nice,  more info here  <http://thyrditacu.theshortsalehandbook.com/e6esc>

Thx, zerr

[2016-09-02 08:39] sergejzr commented on #45
Dear,

I've been looking for some stuff when by chance  I found that! It's so sad, please  read ant tell me what you  think  <http://tuhukephe.windowmonkeys.com/e6ogzh>

Thanks for your consideration, zerr

[2016-09-17 12:25] sergejzr commented on #45
Hey friend,  You're  not gonna believe what I've read yesterday, you've got to read  it yourself  at  <http://direct.lisamair.com/e3uhcwux>

Yours sincerely, zerr

[2016-09-17 12:25] sergejzr commented on #49
Hello,
I found that amazing stuff and I can tell  it's  the best of  its kind, just  take a look <http://instead.ivnmanahan.com/e3mltnnj>
zerr

[2016-09-22 08:32] sergejzr commented on #6
Hey,

I've  visited a very nice place some time ago and have  very good memories associated with it,  here are  some pics of  that  amazing place <http://rijutrufre.jerrickson.com/e3rqj>

zerr

[2016-09-22 13:58] sergejzr commented on #5
Greetings!

Just take  a look  at that great  stuff I've  just  come across, you'll  be  amazed. Here, check it out <http://kapiwispi.technobug.com/e3yuraue>

Warmest regards, zerr

[2016-09-22 13:58] sergejzr commented on #22
Yo!

I  wanted  to share with you some  interesting links that they gave us at the last meeting, here is the list <http://think.liverpooltransfernews.net/e3bcjd>

zerr

[2016-09-22 13:58] sergejzr commented on #45
Hello friend,

I've never seen something like that before,  it's fantastic! You should  take a look <http://xochatheslo.mustbkarma.org/e3ursqkd>

zerr

[2016-09-22 13:58] sergejzr commented on #45
Dear friend!

I wanted to  share with  you something  important , I guess I really and truly am in love this time!  Take a look at some pics of  us <http://perfect.menudelchef.net/e3kqij>

Best, zerr

[2016-09-22 13:58] sergejzr commented on #33
Hi friend!
I've  been looking for some  interesting info when  I found this stuff, please tell me what  you think <http://mychyhawi.tjhienliao.com/e3tux>
All best, zerr

[2016-09-22 13:58] sergejzr commented on #37
Dear friend!
I think this story is really awesome,  you're gonna love it,  please read it here <http://slapruzyfra.newzealandyachting.com/e3blnf>

zerr

[2016-09-22 13:58] sergejzr commented on #29
Hey,

Look at  that  cool thing, I think this is  simply the  coolest thing  I've ever seen, check  it out  <http://contact.mericovacik.info/e3xyuxwl>

All the best, zerr

[2016-09-22 13:58] sergejzr commented on #45
Dear,

Just take a look at those beautiful things I've found,  they are  gorgeous!  Here, check them  out  <http://have.openbangladesh.org/e3yhib>

Yours truly, zerr

[2016-09-22 13:58] sergejzr commented on #29
Hey!

I found something  absolutely new and so interesting! Don't miss  it up,  you may find more info here <http://through.averillwoods.org/e3wkpt>

Good wishes, zerr

[2016-09-22 13:58] sergejzr commented on #45
Dear,

I've came across that new amazing stuff, don't miss it up! Just take  a  look here <http://vophebysly.exitocdc.org/e3cqyatm>

Hope this helps, zerr

[2016-09-22 13:58] sergejzr commented on #3
Yo!

Take a look at that adorable stuff, I'm just amazed! It is so  sweet)) Here, check it  out <http://reach.flexitariantv.com/e3kjpgd>

My Best, zerr

[2016-09-22 13:58] sergejzr commented on #39
Hey friend,

We've  had an amazing day today and we just  wanted to share some  information  about  places  we've visited, just  take a  look <http://agree.menudelchef.net/e3meup>

Sent from a prehistoric stone tablet, zerr

[2016-09-22 13:58] sergejzr commented on #5
Hello,

We  have recently  visited a great place  in town, have you already been  there? Here are  some pics of it  <http://star.yourschooldecals.com/e3wzezr>

Sent from my iPhone, zerr

[2016-09-22 13:58] sergejzr commented on #33
Greetings!

I've recently came across some interesting information, what do  you thin about it? Please read here and tell me your opinion <http://nestacrespa.webcamgirlstore.info/e3nsac>

Hope this helps, zerr

[2016-09-22 13:58] sergejzr commented on #5
Greetings,

I  wanted to  share with you my joy  about my  latest event, please  read  more here <http://grant.menudelchef.net/e3vndc>

Speak to you later, zerr

[2016-09-22 13:58] sergejzr commented on #37
Hi,

Just found  something really awesome, you might be  interested in taht stuff too, check it out  <http://come.yourschooldecals.com/e3zzlhul>

Be well, zerr

[2016-10-01 12:02] sergejzr commented on #22
Hi friend!

We've decided to  travel the world and wanted  to show you  our route, what do you think about it? Here is the link <http://quuraprycu.raggedimpresarios.com/e5yfwj>

All the best, zerr

[2016-10-25 18:15] sergejzr commented on #34
Dear!

Just  take a  look at  all that nice  stuff I've got  for you, it's extremely  good! Check  it out <http://genny.chalantproductions.com/e3vs/402>

Warmly, zerr

[2016-12-11 09:36] ap0n opened #56 "Run multiple pipelines concurrently"
Run FocusPip & TransferPip concurently on SoftNet cluster.

[2016-12-11 09:42] ap0n opened #57 "Use the same source in different pipelines concurrently"
Use different accounts for spring API

[2016-12-11 09:43] ap0n opened #58 "Run pipelines in multiple clusters concurrently"
What about the adaptation events. Which external service will the apps connect to?

[2016-12-11 09:46] ap0n opened #59 "Time-travel pipeline"
* Test QM integration
* If there is time support snapshots for time-periods.
  * Go for "Give me X snapshots from t1 to t2"

[2016-12-11 09:49] ap0n opened #60 "Dynamic Graph Pipeline (Hubs)"
Check if everything still works.
---
After Jan 22.
If time allows integrate hub in FocusPip

[2016-12-11 09:51] ap0n commented on #56
SoftNet cluster zookeeper version: 3.4.6.2.2.4.2-2
SUH cluster zookeeper version: 3.4.6

[2016-12-11 09:51] stefanbu commented on #57
These accounts for spring API can be used (let me know, if you need more):

Username:
tsi1
tsi2
tsi3
tsi4
tsi5

Password for all: password

Regards,
Stefan

Am 11.12.2016 um 10:42 schrieb Apostolos Nydriotis:

[2016-12-12 08:20] eichelbe opened #61 "Run Hardware Profiling with multiple output spouts"
Running the profiling pipeline with multiple output spouts s runs until s =2. With s >=4 it seems that one task does not come up while the task is varying (SUH a connection spout, TSI the family node).

[2016-12-12 08:21] eichelbe commented on #61
@ap0n Could you please check your zookeeper configuration regarding `maxClientCnxns.` The default value is 10 and as far as we can see this is too small to run the HW profiling pipelines. If possible, increase it to a higher value (600 on LUH cluster) or even to 0 to remove the limitation.

[2016-12-12 13:02] ap0n commented on #61
I added `maxClientCnxns=600` to zoo.cfg and restarted all nodes of zookeeper (okeanos cluster -- Trying to also apply it to the softnet cluster but ambari doesn't want to make my life easy...). Can you check if it's ok now?

Is there anyway the maxClientCnxns is what causes problems for #56 ?

[2016-12-12 13:24] eichelbe commented on #61
Thanks. Cui will try as soon as possible with Gregory.
There might be a cross-relation to #56 but this is unsure by now.

[2016-12-12 14:49] ap0n commented on #56
@eichelbe I run on [this](https://groups.google.com/forum/#!msg/storm-user/DcX79-qoSck/gH8s_j8rSYoJ) thread; we also get a similar error (stormconf.ser does not exist). Is it possible that you mail me the '/etc/hosts' file of your cluster to cross reference it with ours?

[2016-12-12 16:18] ap0n commented on #56
In order to see what's going on when submitting multiple pipelines, I tried to sort the logs according to their timestamp. I first submitted FocusPip and after some time, the TransferPip.

Here I list the first problem of each logfile (worker) sorted by the time of appearance.

[code]

There are also lots of entries like:
[code]
I'm also attaching the log-files of each worker for the corresponding

[2016-12-12 17:06] eichelbe commented on #56
We can send you the hosts file, but I think that this will not really help you as it just contains local IP addresses (on our mini cluster we do not even run DHCP).

It seems that for some reason Storm is not storing the pipeline on the worker machines. No wonder that the worker is dying. As the pipeline before is working, file permission should not be the problem. Silly question, you have enough

[2016-12-13 07:30] ap0n commented on #56
HD space can't be the problem. Each node has at least 200GB of free space. I'm uploading the supervisor logs ([here](https://www.dropbox.com/s/fn9btkfhtyte9sx/supervisor-logs.zip?dl=1)) but I'll examine them later this afternoon. I'll report back if I find something.

[2016-12-13 16:31] ap0n commented on #56
We tried a few more things today.

1. Run three word-count topologies simultaneously without any errors (ran about 2-3 hours)
2. Run FocusPip with a word-count without any errors (ran about 5-6 mins)
3. Run TransferPip with a word-count without any errors (ran about 5-6 mins)
4. Run FocusPip with TransferPip. Random component restarts begun after about 2-3 mins
5. For experiment 4 we collected eve

[2016-12-13 16:32] npav commented on #48
MI replaced by TE streaming component

[2016-12-13 16:32] #48 closed, assigned to npav

[2016-12-13 16:51] tahoangl3s commented on #56
Thanks @ap0n for the updates.
We inspected the merged.txt file and found the error message. Actually, it is a warning that the HBase table (that used to store pairwise correlation scores) is not named properly, and the function returns a proper name. Nevertheless, we will clear the issue soon.
TA

[2016-12-13 17:40] eichelbe commented on #56
I forwarded your idea to @cuiqin, not sure whether our cluster is sufficiently large. But we may try on LUH cluster ;)

[2016-12-14 18:34] antoine-tran commented on #56
hi all  @eichelbe @tahoangl3s @ap0n :
I have fixed the Exception regarding HBase table naming. Please let me know if you still notice the issue

[2016-12-15 18:14] ap0n commented on #59
I generated the TimeTravelPip pipeline by selecting only the `CorrelationSW` algorithm as a member of the `fCorrelationFinancial` family. When I try to run it using `cli.sh`, I get the following error from the infrastructure.
[code]
However, I cannot see what is wrong with the `mapping.xml`... I'm attaching the generated code here, @eichelbe @cuiqin can you have a look (I build the code on the clu

[2016-12-15 20:57] cuiqin commented on #59
From the log, I see the pipeline starts with the ADAPTIVE mode. The generation from the tool is actually not yet updated to consider this mode as it is in stabilizing phase.  Could you please try to run the TimeTravelPip with CorrelationSW in the STATIC model by setting:
                  confModel.initMode = STATIC
to see whether you can start the pipeline? We will let you know when we update the

[2016-12-16 07:35] ap0n commented on #59
Where would I set the `confModel.initMode = STATIC`?

I will debug the pipeline and let you know. I just wondered if you had any idea on why the pipeline appears to consist of two completely separated branches... Anyway, I let you know when I add the logs and see what is really going on.

[2016-12-16 08:21] cuiqin commented on #59
The STATIC setting in the infrastructure configuration qm.infrastructure.cfg.

Another thing in my mind is that, with the local modification on the configuration via QM-IConf, the model you used to generate the pipeline is then not consistent with the most recent one downloaded by the infrastructure. This can confuse the infrastructure to collect the right lifecycles while starting the pipeline. F

[2016-12-16 08:41] cuiqin commented on #56
I don't think our cluster is able to handle both Transfer and Focus pipeline as we have rather small cluster. We can try it on the LUH cluster once we have the access.

[2016-12-16 08:59] ap0n commented on #56
That would be nice. @tahoangl3s any news from your side regarding the exception?

[2016-12-16 09:11] ap0n commented on #59
It seems that there is a problem at the topology generated code. `PipelineVar_10_FamilyElement3` (DynamicGraphCompilation) is not connected to `PipelineVar_10_FamilyElement2` (TimeGraphMapper) at [Topology.java](http://jenkins.sse.uni-hildesheim.de/job/QM-Pipelines/ws/pipelines/eu/qualimaster/TimeTravelPip/topology/Topology.java). (Shouldn't that produce an `InvalidTopologyException`...? :confused

[2016-12-16 09:12] tahoangl3s commented on #56
@ap0n We have fixed the issue. Please refer to my comment and Tuan's comment above.

[2016-12-16 09:16] ap0n commented on #56
You are right. I somehow missed that comment... We'll check it out and let you know.

[2016-12-16 10:05] npav commented on #57
@eichelbe If I am not mistaken, you suggested having a default parameter with the account name for each source, right? If yes, how would that work for the same source being used in different pipelines? The parameters are defined on the algorithm level, not on the pipeline level, so if we define a default parameter account for a source, it will use the same in both pipelines. Am I missing something

[2016-12-16 10:07] npav commented on #55
Closing old issue for cleanup.

[2016-12-16 10:07] #55 closed, assigned to nobody

[2016-12-16 10:09] npav commented on #37
Graph visualization is done in stakeholder applications

[2016-12-16 10:09] #37 closed, assigned to stefanbu

[2016-12-16 10:10] npav commented on #26
Closing old issue for cleanup.

[2016-12-16 10:10] #26 closed, assigned to nobody

[2016-12-16 10:23] eichelbe commented on #57
Right. There was somewhen a discussion with LUH to have a family of sources/sinks and it seems that I mixed that up. Alternatives to solve that (further ideas are welcome):
- Extend the configuration of data sources/sinks to define specific default values for the underlying implementation element overriding the default value there. Although conceptually better, I would like to  avoid this form of

[2016-12-16 10:48] npav commented on #57
Well, if we only need it for this case, I could modify the implementations of the sources to pick an account, probe it to see if it already in use, and if so, pick a different one. So, in this case, you don't have to modify interfaces/generation/infrastructue.
The question is : Should we do this "hack", or is there the possibility to also need this functionality elsewhere.

[2016-12-16 10:55] eichelbe commented on #57
Ok, if you can figure out this, it would be a kind of round-robin testing. Simple extension with more infrastructure support could be to "lock" an account in the account management requiring to correctly unlock it after use. But for now, I'm fine with both if we can avoid too many changes (we have already enough changes for the switch on top of loose pipelines - except for a network problem, nearl

[2016-12-16 10:59] npav commented on #57
Okay, I will give it a try this way and let you know.

[2016-12-16 11:41] npav commented on #57
Hi Stefan @stefanbu,

Seems like the accounts you issued are not working. I get "wrong password"
for all of them.
("sent data : tsi1,login,password!")

Could you check this please?

Regards,
Nick

On Sun, Dec 11, 2016 at 11:51 AM, StefanBu <notifications@github.com> wrote:

[2016-12-17 19:19] cuiqin commented on #59
I figured out that the tupleType configuration of the flow(f5) between PipelineVar_10_FamilyElement2  and PipelineVar_10_FamilyElement3 is missing. That's why the link between these two nodes is broken in the generation. I also saw the flow(f11) has the same problem. @ap0n could you please check which type shall be selected for this flow? We missed the constraint on the tupleType. I added that. No

[2016-12-17 19:28] cuiqin commented on #59
Based on the input configuration of the TimeTravelSink, I selected the "pathStream" for the f11 ;)

[2016-12-19 07:08] ap0n commented on #59
That's the correct choice :smile:

I tried to test the pipeline again (re-generated it) and now I get the `mapping.xml` error even if I use `TopoSoftwareCorrelationFinancial` algorithm. The `confModel.initMode` option is already set to `STATIC`...

[2016-12-19 10:44] ap0n commented on #56
Now the Tweeter source for the FocusPip throws the following exception
[code]
Has something changed at the HDFS files?

[2016-12-19 21:41] cuiqin commented on #59
Do you get the same error as you reported before? Could you please attach the mapping file here?  I fear that you used the most recent infrastructure to start the pipeline, but the generation from the tool is inconsistent to that version of the infrastructure. It would be good to know wether the TimeTravelPip from the repository can be started.

[2016-12-20 06:10] ap0n commented on #59
Yes, same error. Here is the mapping.xml [mapping.xml.txt](https://github.com/QualiMaster/qm-issues/files/662906/mapping.xml.txt)
I can't currently reach `uni-hildesheim.de` domain, so I will try the pipeline at the repository as soon as the repository is back online.

However, I noticed that at the generated pom.xml there was a duplicate dependency. If I remember correctly it was the following.
[

[2016-12-20 17:06] ap0n commented on #59
I tested the repository version and it was started normally. Do you know when which version of the infrastructure is compatible with the tool generation (or when the tool will be compatible with the latest version of the infrastructure)? Debugging using the repository version of the pipeline is not convenient at all (if not impossible)...

[2016-12-20 17:16] eichelbe commented on #59
Hi, I've seen your messages but I was still involved in completing a document you shall receive by mail now ;) Ok, I understand. Unfortunately Cui is not available for syncing the models. There are several options

1) You try the nightly version compiled by Jenkins.
2) You install the full thingy including EASy-Producer into an empty Eclipse.
3) I run the Eclipse package over the most recent versi

[2016-12-20 17:17] eichelbe commented on #59
BTW, the repeated dependency is not in the Jenkins version?

[2016-12-20 17:46] eichelbe commented on #59
Ok, after some installation stuff, my Eclipse exported the most recent version for windows/linux_gtk_x86_64. Windows seems to be ok. Both try to access QM2.devel instead of the released conf model. Uploading. Will take some time but I'll write you a mail...

[2016-12-21 08:32] ap0n commented on #59
The duplicate dependency is in the Jenkins version as well (see [here](http://jenkins.sse.uni-hildesheim.de/job/QM-Pipelines/ws/pipelines/eu/qualimaster/TimeTravelPip/pom.xml)).

I just tested the latest version of the tool you sent me and the generated pipeline started just fine (infrastructure-wise). I can resume the debugging now...

[2016-12-21 08:43] eichelbe commented on #59
Fine. It makes sense to leave the resolution of the dependency problem to Cui if not a fix is urgently needed...

[2016-12-21 08:44] ap0n commented on #59
Sure.

[2016-12-21 10:17] ap0n commented on #59
There is another problem with the generation. At [this](http://jenkins.sse.uni-hildesheim.de/job/QM-Pipelines/ws/pipelines/eu/qualimaster/TimeTravelPip/topology/PipelineVar_10_FamilyElement5FamilyElement.java) file, line 99, `taskIdTimeGraphIndexer` is never initialized causing a null pointer exception. There should be a line like
[code]
just before it...

[2016-12-21 10:54] eichelbe commented on #59
The generation knows about the assignment, but it seems that it is just executed in case of a sub-pipeline. I tried to tie together the related data to obtain the storm component name on the right side and running a generation on my side. If it produces the required code, I will let you know. Seems that this shall not affect other code, but it will be worth checking that...

[2016-12-21 11:59] ap0n commented on #56
While running both Focus and Transfer pipelines we get this error:
[code]
It's related to the signal mechanism; @eichelbe do you have any ideas on this one? Generally, we've ran the pipelines one by one and everything goes smoothly. The same goes for running multiple storm topologies (non-QM) concurrently. Therefore, it seems that the problem lies somewhere in the QM infrastructure. Is it possible

[2016-12-21 12:25] npav commented on #57
The SpringClient (and also the FocusedSpringClient that uses a SpringClient internally) now dynamically change Spring accounts if the one they chose is already logged in. Tested with two FocusedSpringClients at the same time and working.

[2016-12-21 12:25] #57 closed, assigned to npav, ap0n

[2016-12-21 12:58] eichelbe commented on #56
Worker log? Seems to be a double creation, probably not problematic as long as the node is there at all.

[2016-12-21 13:03] eichelbe commented on #59
Could you please check if these lines would be ok although not in your code right now:
- CorrelationSW: SubTopology_FamilyElement0FamilyElement, line 95: taskIdHayashiYoshida = topologyContext.getComponentTasks("CorrelationSWHayashiYoshida");
- TimeTravelPip
  - PipelineVar_10_FamilyElement3FamilyElement, line 91: taskIdTimeGraphIndexer = topologyContext.getComponentTasks("PipelineVar_10_FamilyEle

[2016-12-21 13:14] ap0n commented on #56
Here it is [worker-6701.log.txt](https://github.com/QualiMaster/qm-issues/files/666398/worker-6701.log.txt). Line 327. And here is the merged log from the whole cluster for this run
[merged.log.txt.zip](https://github.com/QualiMaster/qm-issues/files/666400/merged.log.txt.zip)

[2016-12-21 14:56] ap0n commented on #59
I think they are fine.

[2016-12-21 15:13] eichelbe commented on #59
Ok, committed. Jenkins is building. Local update with your recent QM-IConf shall have the changes.

[2016-12-23 12:03] eichelbe commented on #56
There may be a problem due to combined exception handling in case that some other component created the same node just between checking for its existence and doing some operations on it. Either we can fix it by separating the exception handling or by Zktransactions :|

[2016-12-27 07:45] ap0n commented on #59
First of all, happy new year 2017!

Yesterday I tried to run the pipeline once more. The pipeline started but after a while errors began to show up both in the infrastructure and in the workers. I'm attaching the logs [here](https://www.dropbox.com/s/n7h7kqqn8n74vpm/TimeTravelPip-logs.zip?dl=1). Infrastructure log (main.log) reads
[code]
Worker logs (merged.log) read:
[code]
which is about Curator

[2016-12-28 13:45] cuiqin commented on #59
Regarding the duplicated dependency, the pom generation actually takes care of the duplicated nodes in a pipeline. However, it assumed that each algorithm has its own artifact specification. As the algorithm TimeGraphIndexer and TimeGraphQueryExecutor are configured with the same artifact, the duplicated dependency appeared. I have added checks also on the configured artifacts in a pipeline. The c

[2016-12-28 14:36] cuiqin commented on #59
The curator thing is related to the zkeeper connection. I had a look at the worker logs, it seems the supervisors are not started properly. You may try to run the command that attempts to launch the "worker" to see what is really happening.

[2016-12-29 10:16] eichelbe commented on #59
The index problem is caused by the fast value mapping. We identified an issue (to be committed) and try to pass internal exception traces (to be committed) along with the VILExceptions so that identifying a problem is easier.

[2016-12-29 10:22] ap0n commented on #59
The curator problem only appears at clu18 node and checking its supervisor logs revealed a reported JRE fatal error and hard disk problems. I contacted our admin in order to resolve them (if possible) and I'm going to disable this node (storm storm supervisor) and try again.

[2016-12-29 11:17] eichelbe commented on #59
Build for first commit is done...

[2016-12-29 11:20] eichelbe commented on #59
Second commit is building...

[2016-12-29 11:22] eichelbe commented on #56
Initial version for creating ZkNodes more carefully is committed and building... If the problem persists, we will try it with incremental path creation as done by the PortManager.

[2016-12-29 11:29] ap0n commented on #59
Now I'm getting errors related to direct grouping
[code]
Direct streams are declared at the generated code (`topology.java`) but the `emitDirect` is never used... (e.g. `PipelineVar_10_FamilyElement3FamilyElement:163`)

[2016-12-29 18:33] cuiqin commented on #59
You are right. The condition to generate the emitDirect code was missed in the family nodes of the main pipeline. I made a change and Jenkins is building. Please cross-check the generated code afterwards, thanks:)

[2016-12-30 10:44] ap0n commented on #56
Christoph the SpringClientTwitter produces the following error. I don't know if this causes problems to the whole pipeline but could you have a look?
[code]

[2016-12-30 12:03] ChristophHubeL3S commented on #56
That's actually not a problem. The SpringConnector is supposed to be shut down after it did its job. So that's fine.

[2016-12-30 13:53] ap0n commented on #59
I tried the newly generated code and it seems fine. But I now see two new problems (!) at the infrastructure.
The first one is a `StackOverflowError` (line ~250 of the
[attached log](https://github.com/QualiMaster/qm-issues/files/678715/main.log.txt)) and the second an `IndexOutOfBoundsException` (line ~2450)

I suppose the StackOverflowError is probably related to the circles of the pipeline (?)

[2017-01-03 08:55] eichelbe commented on #59
Probably right for StackOverflow - cycle detection was omitted there :( Added as simple one and commited. IndexOutOfBoundsException is close to the expected location, but the code indicated by the exception was already changed so something does not seem to be up to date...

[2017-01-06 09:44] npav commented on #56
Unfortunately, still no useful update, and no useful error to help us understand why multiple QM pipelines do not work together. All I got in the last execution is Netty reconnection errors, and after some time, I also got some CuratorConnectionLossException errors.

I am re-capping all we know so far in case anyone has an idea:
1) Multiple **non-QM** topologies are executed without any problems i

[2017-01-06 09:51] eichelbe commented on #56
We did several basic modifications yesterday to bring back the hardware profiling. Did you test with these changes, as they involved some resolutions for the event processing?

Which QM topologies did you test?

[2017-01-06 09:53] npav commented on #56
I updated the infrastructure today, so it should include the latest changes, but I did not re-create the pipelines from QM-IConf, I used older builds. I tried FocusPip with TransferPip.

[2017-01-06 10:04] eichelbe commented on #56
This is ok. @cuiqin  could you please run SwitchPip and RandomPip in parallel on Okeanos. Let's try with the simple things first...

[2017-01-06 13:03] eichelbe commented on #56
From the log it seems that we have a similar problem even with a smaller pipeline on our cluster, while other pipelines are running (and the same one is now running on Okeanos but not on our side). We also observed ''o.a.s.z.ClientCnxn [INFO] EventThread shut down'' and the worker is shutting down using the original Storm shutdown hook (we checked that) while Netty is not connected, trying to go o

[2017-01-06 13:08] npav commented on #56
Okay, let's hope it is as easy as tweaking some buffers. In the meantime, I will start working on the merged pipeline as a backup scenario until this is resolved.

[2017-01-06 13:11] eichelbe commented on #56
Makes pretty much sense...

[2017-01-06 13:18] eichelbe commented on #56
Another option would be to do the signals via the event bus avoiding additional Zookeeper connections. But this is rather untested...

[2017-01-06 13:20] eichelbe commented on #56
I got the problematic pipeline up (the first time), but then the workers still continued dying... It could be the right direction although not the solution...

[2017-01-06 13:41] cuiqin commented on #56
I ran both RandomPip and SwitchPip in parallel on the Okeanos cluster. I tried them with 3 and 5 workers respectively. Although I also saw the netty reconnections and "EventThread shut down" logs, both pipelines are running well. If you want to check, they are still on the Okeanos now.

[2017-01-06 15:59] eichelbe commented on #56
I did a series of modifications on the workers, the nimbus and the zookeepers. The problematic pipeline is coming up but it is not stable. Workers restart then at runtime, so it seems that it defers only the problem.
At least in our cluster the zookeepers are not powerful enough to handle the number of startup connections. Some statements say that the most powerful machines with the fastest harddi

[2017-01-06 19:20] eichelbe commented on #56
Ok, it seems that I have good news. And after some cluster reboots (for tracking the worker shutdowns) our problematic pipeline runs without worker restarts for several minutes. I will collect the settings later and let you know...

[2017-01-06 20:38] eichelbe commented on #56
Here are the settings that worked for us...
- Zookeepers:
  - `minSessionTimeout=300000`
  - `maxSessionTimeout=500000`
- Nimbus (we also have the supervisor/worker settings in, but they should not affect the result):
  - `nimbus.thrift.max_buffer_size: 20480000`
  - `nimbus.task.timeout.secs: 320`
  - `nimbus.task.launch.secs: 320`
- Supervisors/Workers:
  - `supervisor.worker.start.timeout.secs:

[2017-01-06 22:33] antoine-tran commented on #56
This is a great news :). Let's hope the pipelines play nicely along with each other :o

[2017-01-09 15:16] npav commented on #56
I messaged our Administrator so she can make the changes Holger proposed, since we are usually not allowed to change configuration arbitrarily on SoftNet cluster. Hopefully, this will be done soon and I can give it another try. Thanks Holger.

[2017-01-10 12:20] eichelbe commented on #56
In the mean time we are updating the LUH cluster together with Miroslav for experiments with adaptive storm...

[2017-01-13 14:38] ap0n commented on #59
I updated everything and the pipeline started. However, I have this problem I don't know how to resolve. Any ideas would be much appreciated...

In the TimeTravelPip I have a request-response type of communication between the tasks; each request includes the "client's" task id so that the "server" knows where to reply (using direct grouping). This works fine if there are no failures.

When I try t

[2017-01-16 10:54] eichelbe commented on #59
Indeed, terminating workers is a well-known but not really good documented problem.
Could you please detail a bit the steps that you did so far, the alternatives you already excluded. Just as a guess, switching the Infrastructure to events for signals rather than Curator/Zookeeper could be worth a trial, even if it is just for excluding problems.

[2017-01-16 11:10] ap0n commented on #59
For the time being I'm reviewing logs and trying to understand what the problem is; all I see however is netty problems (indicating dying workers I guess).
I can't think of any alternatives since I don't know what the actual problem is...
I also tried to run the pipeline with a small dataset in order to rule out load-related problems, but the behavior is the same.
I guess switching would be just f

[2017-01-16 11:30] eichelbe commented on #59
I see, also the Monitoring Layer does not really like restarting workers... ;)

As far as I know the Storm code, a worker is either dying due to an exception or due to a timeout. However, Storm does not tell us which of its timers is failing (adaptive storm does in the mean time but the information is limited.)

One way I could image is to run your pipeline on the LUH cluster. Our plan is to insta

[2017-01-16 11:31] eichelbe commented on #59
And if it is a netty connection problem, at least on our side it was due to another worker failing which shall host the netty server...

[2017-01-16 11:56] ap0n commented on #59
Our simulator reads the simulated data from the grnet hdfs, NFS should be a problem...
So, I'll move on to the next task until LUH cluster is ready (do we have any estimation on this?)...

[2017-01-16 11:59] eichelbe commented on #59
Next days... some modifications in adaptive storm deferred that. Hopefully with the changed source even a missing NFS should not be a problem but needs manual copying...

[2017-01-18 11:00] #61 closed, assigned to ap0n, gregorychrysos, cuiqin

[2017-01-18 11:05] eichelbe opened #62 "Run pipelines on LUH cluster"
For testing and backup-plan
(1) Run RandomPip on LUH cluster (SUH)
(2) Replace storm to Adaptive Storm* and change worker configuration for larger pipelines (SUH)
(3) Run RandomPip on LUH cluster again (SUH)
(4) Run TransferPip on LUH cluster (LUH)
(5) Run FocusPip on LUH cluster (LUH)
(6) For TSI: Run Time Travel Pipeline for startup time debugging on LUH cluster (SUH + TSI)
(7) Rund TransferPip

[2017-01-18 11:10] eichelbe commented on #62
Cui is working on (1)
- QM infrastructure setup seems to be ok, however workers are restarting even on RandomPip
- Seems to be a storm serialization problem. Local storm app folders not cleared! Need to restart all workers.
- Needed to replace Storm (Adaptive Storm is installed) as well as the infrastructure installation.

[2017-01-18 13:27] eichelbe commented on #62
**-> RandomPip is running**
(1)+(2)+(3) are done

[2017-01-18 13:36] eichelbe commented on #59
Just to let you know that the LUH cluster as now up and running. LUH will next do a test on the "other" pipelines...

[2017-01-18 13:42] smutahoang commented on #62
@eichelbe @cuiqin That's great! Thanks for your effort. We look forward for the wiki page on how to run the pipelines on LUH clusters so that we can proceed with the next steps.

[2017-01-18 14:03] eichelbe commented on #62
;) It's also in our interest....

And here is the extended [LUH cluster wikipage](https://www.l3s.de/wiki/doku.php?id=qualimaster:qualimaster:wp5.storm.luh) (the lower parts are mostly "dangerous"...)

[2017-01-18 14:05] ap0n commented on #59
Thanks for the update! I'll check it out later today... (I'm also watching issue #62)

[2017-01-18 14:44] ap0n commented on #62
Great!
So, how do we continue? Do we get accounts on LUH cluster or do we coordinate with SUH and test together (mainly interested in (6) :angel:)?

[2017-01-18 15:52] eichelbe commented on #62
Not sure, this is LUH decision. We had to sign some papers that we loose all our money if we download their data ;) Just kidding, I think we will take your pipeline and run it there for you reporting on the issues that we see.

[2017-01-18 16:25] cuiqin commented on #62
Adaptive switch over RandomPip is working.

[2017-01-19 11:10] eichelbe commented on #62
As a follow-up - LUH infrastructure is now working with coordination.commandCompletion.onEvent = true. Will become active with next restart.

[2017-01-19 11:12] eichelbe commented on #62
For (4)+(5) the financial data source may need an adjustment to read from the file system rather than HDFS (not available in LUH cluster). Either there is a way to convince Miroslav or we have to modify the TSI source. Initial discussion with Christoph regarding the Twitter source (works with file system) are ongoing to synchronize the work and the approach...

[2017-01-19 11:14] eichelbe commented on #59
Does the financial data source (spring-simulator) require HDFS (I think I have this in mind)? If yes, can we extend it to alternatively read from the file system [Cui did first steps there but I think it makes sense to have it in the same code to avoid confusion while testing/experiments/demo]?

[2017-01-19 12:21] ap0n commented on #62
But can't the Okeanos HDFS be also used? (It will be slower because of the internet but it could be an alternative at least for testing...)

[2017-01-19 12:27] ap0n commented on #59
Yes it does. But I think Nick has also supported local file system through option [flags](https://github.com/QualiMaster/Algorithms/blob/master/tsi/hy-correlation/spring-client-simulator/src/main/java/eu/qualimaster/algorithms/imp/correlation/SpringClientSimulator.java#L37). I don't know if the local fs option is tested but it certainly is hardcoded to HDFS right now...

If the Okeanos HDFS is not

[2017-01-19 12:52] eichelbe commented on #59
Great, this would help a lot!

Local FS could be just a fallback, the location could be taken from the DMS configuration class (dfs.path) or given via a VM switch through the worker configuration. However it fits your work without destroying too much :)

[2017-01-19 13:01] L3SQualimaster commented on #62
On Thu, 19 Jan 2017 03:12:32 -0800
Holger Eichelberger <notifications@github.com> wrote:

Hi Holger,

[storm@master02 ~]$ hadoop fs -put ./test.hdfs /data/storm/
[storm@master02 ~]$ hadoop fs -ls /data/storm/
Found 1 items
-rw-r--r--   3 storm users   5 2017-01-19 13:57 /data/storm/test.hdfs
[storm@master02 ~]$ hadoop fs -cat /data/storm/test.hdfs test

Cheers,
miroslav

--
Dr. Miroslav Shaltev
-

[2017-01-19 13:32] eichelbe commented on #62
Cool. From our meeting I had in mind that we do not have access to HDFS. Then let's keep things simple, put data under /data/storm in HDFS and configure the infrastructure respectively. I will tell TSI...

[2017-01-19 13:33] eichelbe commented on #59
It seems that there is HDFS accessible. Thanks for helping us with local fs. Then we can try it as it is. Christoph will start testing.

[2017-01-19 13:39] ap0n commented on #59
In any case, spring client simulator will try to connect Okeanos HDFS (see the code [here](https://github.com/QualiMaster/Algorithms/blob/master/tsi/hy-correlation/spring-client-simulator/src/main/java/eu/qualimaster/algorithms/imp/correlation/SpringClientSimulator.java#L198) -- line 198) and try to get data from `/user/storm/` path... These things are hardcoded. If necessary we can export them as

[2017-01-19 14:20] eichelbe commented on #59
There are some basic settings in DML configuration that could help to parameterize that class, e.g., the base HDFS URL (for the pipeline settings). We/you can also add some further ones ;)

[2017-01-19 15:52] ap0n commented on #62
Just to let you know, today I spotted another attack at our HDFS; this time data ransom was included! According to [this](https://www.bleepingcomputer.com/news/security/database-ransom-attacks-hit-couchdb-and-hadoop-servers/), these attacks are quite widespread.

[2017-01-19 16:23] ap0n commented on #59
I think we need two more settings.
* `simulation.useHdfs`  boolean. Wether to use HDFS for data simulation or not
* `simulation.localPath` string. The path to get the data from when using local FS. (`dfs.path` now points to `/var/nfs/profiling`. I don't know if it's a good idea to also add data in that directory...)

For the hdfs path I think it's safe to use hdfs.path setting.
What do you think?

[2017-01-20 10:22] eichelbe commented on #59
Ok for me if it fits your needs. I've added the two settings to the DML cfg and they shall be transferred from the infrastructure to the workers/algorithms.

@L3SQualimaster  this may also help avoiding code replacements for the Twitter source

[2017-01-20 10:26] eichelbe commented on #62
How bad, as the cluster of LUH is behind an external server, there the risk shall be lower.

@L3SQualimaster any news on the FocusPip?

[2017-01-23 07:41] eichelbe commented on #62
Infrastructure setup has been changed to take up the LUH hdfs with base path /data/storm as suggested by Miroslav (thanks again). The respective setup information is being passed to the worker by the infrastructure via the DML configuration class (`getHdfsUrl()`, `getHdfsPath()` as postfix to the HDFS URL, `getSimulationLocalPath()`, `useSimulationHdfs()` as well as `getDfsPath()`). Infrastructure

[2017-01-23 08:00] ap0n commented on #62
`SpringClientSimulator` is modified to use these settings (committed about half an hour ago)

[2017-01-23 08:02] eichelbe commented on #62
Fine :)

[2017-01-23 08:26] eichelbe commented on #62
BTW, the HDFS user/group setup is not done, so the infrastructure may complain about that while extracting the setup files for Stefan. But as far as I know, Tuan is trying to find a way how the Stakeholder applications could access the pipeline results, then we can also figure out whether extracting the setup files also holds/is needed in the LUH setup.

[2017-01-23 17:57] eichelbe commented on #62
... the installation needs a further classpath entry for HDFS. Discussing with Miroslav...

[2017-01-24 09:14] ChristophHubeL3S commented on #62
Hi everyone, I got an error while trying to start the infrastructure on hadoop2:

Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/hadoop/conf/Configuration
        at eu.qualimaster.dataManagement.storage.hdfs.HdfsUtils.getFilesystem(HdfsUtils.java:97)
        at eu.qualimaster.dataManagement.storage.hdfs.HdfsUtils.getFilesystem(HdfsUtils.java:82)
        at eu.qualimaster.da

[2017-01-24 09:28] eichelbe commented on #62
That's exactly what my last post was about. Therefore, I need a change done by root. And please do not use main.sh on your cluster. There the infrastructure is installed as a service. I'll let you know as soon as the classpath entry is clarified with Miroslav (or you may call him directly ;))

[2017-01-24 10:19] eichelbe commented on #62
Ok, fixed thanks to Miroslav. Updated the Wiki in this respect (main.sh).

Started PriorityPip. Comes up and reports `java.lang.NullPointerException at eu.qualimaster.algorithms.imp.correlation.SpringClient.getSpringStream(SpringClient.java:49) at eu.qualimaster.PriorityPip.topology.PriorityPip_Source0Source.nextTu`

Here is the full trace
`node14: java.lang.NullPointerException: null
node14:

[2017-01-24 10:27] ChristophHubeL3S commented on #62
Thanks for fixing! The FocusPip starts now, but immediately crashes because of the FinancialSource which is not a surprise given that the financial data is not yet reachable.

Btw, I would not use the PriorityPip for testing since it is very old and I think nobody is maintaining it.

[2017-01-24 10:31] eichelbe commented on #62
Ok (see trace above), how to set up the financial simulation source? @ap0n

[2017-01-24 10:32] ChristophHubeL3S commented on #62
Apostolos: we can add the financial dataset here: /local/home/storm/datasets

Then we just have have to adapt the Source.

[2017-01-24 10:33] eichelbe commented on #62
Or have them in hdfs as it should be by now ;)

[2017-01-24 10:38] npav commented on #62
Hi, this error has to do with the live data source, not the simulator. I am guessing that since everything is being executed on the LUH cluster, the source cannot find the Spring API accounts to use for requests.

Did you also move the "accounts.properties" file (located under "/var/nfs/" in Okeanos cluster) ?

[2017-01-24 10:41] ChristophHubeL3S commented on #62
I didn't move anything, I created a new Pipeline. If additional files are needed, we can move them.

[2017-01-24 10:43] eichelbe commented on #62
I will check, because the paths on LUH are different.
Anyway, it would be important to understand how to get also the simulator running...

[2017-01-24 10:52] eichelbe commented on #62
Ok, copied the file from okeanos to LUH and distributed it to the workers. Should not require a restart of the infrastructure, so it's worth giving it another trial...

[2017-01-24 12:02] ChristophHubeL3S commented on #62
I tried again. It seems to crash with the same exception.

[2017-01-24 12:11] cuiqin commented on #62
Just to your information...sometime ago I tried to run the PriorityPip with SpringClientSimulator on Okeanos cluster, I also had the same NullPointerException on the source.

[2017-01-24 12:14] npav commented on #62
Holger's trace has to do with SpringClient, not SpringClientSimulator.

Can I see the logs somewhere? e.g. a link like: http://snf-618454.vm.okeanos.grnet.gr:8000/log?file=worker-6703.log

[2017-01-24 12:19] cuiqin commented on #62
Okay, I see. If it's SpringClient, then please just forget it. I did not save the link. But it was sometime ago, If I test again, I will keep an eye on it.

[2017-01-24 12:21] ChristophHubeL3S commented on #62
When I try to access the logs, I get a server not found error:
http://node15.ib:8000/log?file=worker-6700.log

[2017-01-24 12:30] eichelbe commented on #62
I think that Christoph can replace the node name by its IP (10.10.1.15) and get the logs (or ask Miroslav about the name resolution). We probably cannot define overlapping SSH tunnels for all nodes and have to use the console. And TSI can only rely on fragments of the logs sent by one of us I fear...

[2017-01-24 12:33] ChristophHubeL3S commented on #62
When calling http://10.10.1.15:8000/log?file=worker-6700.log the connection times out.

[2017-01-24 12:33] npav commented on #62
So, not even Storm UI can be accessed from the "outside world"?

[2017-01-24 12:34] ChristophHubeL3S commented on #62
I can access the UI, just not the logs.

[2017-01-24 13:02] eichelbe commented on #62
No, the cluster is really internal. Not so easy to influence pipelines/the infrastructure... (you know what I mean). You can see the StormUI only via an SSH tunnel and then accessing the workers becomes tricky as far as we know, but there is always a console ;)

[2017-01-24 13:03] eichelbe commented on #62
And for the timeout... I think it's best to ask Miroslav for the internal LUH connections...

[2017-01-24 13:39] npav commented on #62
Could you send me the full log file related to the NullPointerException in SpringClient so I can check?

[2017-01-24 13:47] ap0n commented on #62
Hi all! In order to use the spring client simulator the following settings must be in `/var/nfs/qm/qm.infrastructure.cfg` file.
`simulation.useHdfs = true`
`hdfs.url=hdfs://snf-618466.vm.okeanos.grnet.gr:8020`  # use appropriate url for LUH cluster
`hdfs.path=/user/storm/`  # use appropriate path for LUH cluster

Then the dataset files should be under hdfs.path. For the above example:
`/user/storm

[2017-01-24 13:56] ap0n commented on #62
Hm.. On a second thought, does the LUH cluster have a `/var/nfs/qm/` directory? If not, where is the `qm.infrastructure.cfg` file?

[SpringClientSimulator](https://github.com/QualiMaster/Algorithms/blob/master/tsi/hy-correlation/spring-client-simulator/src/main/java/eu/qualimaster/algorithms/imp/correlation/SpringClientSimulator.java#L72) loads the `DataManagementConfiguration` from that file...
[

[2017-01-24 13:56] eichelbe commented on #62
Hi, does this need any change to the configuration model or can we just apply it to the pipelines as they are?

[2017-01-24 13:58] eichelbe commented on #62
No, the LUH cluster does not have NFS at all, but this is (so far) not a problem. The infrastructure.cfg file is just on Nimbus, the respective settings are distributed by the infrastructure to the workers. The data files are distributed explicitly before running a pipeline.

Hmm. Is the clientSimulator a program or a storm component. Where shall it be executed?

[2017-01-24 14:02] ap0n commented on #62
The change to the simulator was committed yesterday. If you generated the pipelines earlier than that, you have to generate them again.

`SpringClientSimulator` is the algorithm of the `SimulatedFinancialData` source

[2017-01-24 14:22] ChristophHubeL3S commented on #62
I generated the FocusPip today, so that should be no problem.

[2017-01-24 14:25] eichelbe commented on #62
So we have to change the configuration to get the simulation working... :|

[2017-01-24 14:31] npav commented on #62
Let's recap, because we are confused as to what the problems exactly are.

@eichelbe You tried to execute the PriorityPip, using SpringClient (which is the live and not the simulated/replay data source), and it threw a NullPointerException, right? Was the pipeline freshly generated, or was it an old build?

@ChristophHubeL3S You generated the FocusPip, but we are still unsure whether you used the

[2017-01-24 14:36] eichelbe commented on #62
PrioPip: SpringClient, freshly generated today by Jenkins as the symbolic link on the LUH cluster indicates.

[2017-01-24 14:39] ChristophHubeL3S commented on #62
@npav: The configuration uses the default source (FocusFinancialData). I guess I will have to change to the simulated source?
This is the error that the Storm UI shows:
java.lang.NullPointerException at eu.qualimaster.algorithms.imp.correlation.SpringClient.getSpringStream(SpringClient.java:49) at eu.qualimaster.focus.FocusedSpringClient.getSpringStream(FocusedSpringClient.java:52) at eu.qualimast

[2017-01-24 15:49] npav commented on #62
@ChristophHubeL3S Yes, please use the SimulatedFocusFinancialData if you want the simulator functionality.

We just generated the Focus pipeline both with SpringClient and SpringClientSimulator, deployed on our cluster, and did not get any of the errors mentioned in previous comments, so it seems these errors are definitely related to the changed structure of the cluster.

[2017-01-24 16:16] eichelbe commented on #62
Ok, also the accounts path is now being transferred to the workers and the configuration is initialized anyway automatically. If you do not need further settings, you may try removing `DataManagementConfiguration.configure(new File("/var/nfs/qm/qm.infrastructure.cfg")); `

[2017-01-24 16:31] npav commented on #62
Is the PasswordStore automatically configured elsewhere? If I remember correctly, we only use this command in order for the PasswordStore to be properly configured so it can read the accounts.

Also, will it cause problems if we leave it there? Because removing it would break compatibility with other clusters.

[2017-01-24 20:02] eichelbe commented on #62
Yes, by default upon every starting QM pipeline node based on the Storm cfg initialized by the QM coordination layer. This is the way we pass your options and now also the account file path.

**edit:** Checked on LUH cluster... it's passed to the workers now.

Let's see. The only "problem" could be a strange log message, as strange as some log messages of storm ;)

[2017-01-24 20:13] eichelbe commented on #62
Ok, it seems that we are missing the external service (testing the financial part of the PrioPip)... but as far as I know this goes to Tuan ;) But it seems that we need @npav / @ap0n to get rid of another fixed path ;)

`node14: 2017-01-24T21:09:18.782+0100 STDIO [ERROR] java.io.FileNotFoundException: /var/nfs/qm/tsi/external-service.properties (No such file or directory)
node14: 2017-01-24T21:09:

[2017-01-25 08:49] ap0n commented on #62
If you can add a DML configuration option for external-service.properties path we can use it at the sinks. However, if the file is not found, the exception is printed but the sink falls back to the default settings (which point to the external-service that runs on softnet cluster...). The followup exception seems a bit odd...

[2017-01-25 08:49] antoine-tran commented on #62
Hi,
just seen the discussion now. I'm not sure when the Spring API connection configuration was decided to go to me :), but I have an idea: We probably need to change the TCP connection in DataConnector to TCP Tunnel (might add some third-party tool here).

I'm going to investigate a bit this issue now and report my findings soon.

[2017-01-25 08:50] npav commented on #62
Indeed, we need to change the path, yet it does not cause any execution problems as it is now. We have set default values, and when the file is not found, the default values stay unchanged. The exception is simply caught and the trace printed (so it does not lead to the worker dying or something like that) so that we can detect the case where we forgot to include this file when setting up a new cl

[2017-01-25 08:57] ap0n commented on #62
Hm.. of course if LUH cluster's nodes can't communicate with the Softnet cluster, the followup exception is justified. Is that the case?

[2017-01-25 09:03] antoine-tran commented on #62
I saw we are having now two DataConnector (package eu.qualimaster.data.SpringConnector and eu.qualimaster.algorithms.imp.correlation.spring). Which one should I look at ? And are they available in some Github / SVN repos or only inside Maven artefacts ?

[2017-01-25 09:03] ChristophHubeL3S commented on #62
FYI: I tried running the FocusPip again with SimulatedFocusFinancialData and it failed with the same exception:

java.lang.NullPointerException at eu.qualimaster.algorithms.imp.correlation.SpringClientSimulator.getSpringStream(SpringClientSimulator.java:180) at eu.qualimaster.focus.FocusedSpringClientSimulator.getSpringStream(FocusedSpringClientSimulator.java:61) at eu.qualimaster.FocusPip.topolog

[2017-01-25 09:10] ap0n commented on #62
SpringClientSimulator uses the second one (eu.qualimaster.algorithms.imp.correlation.spring). I'm not sure what the other is for...

[2017-01-25 09:13] ap0n commented on #62
@ChristophHubeL3S We do need some logs to see whether the configuration is passed correctly to the component. Did you generate the pipeline today? I added some log entries at the SpringClientSimulator about half an hour ago...

[2017-01-25 09:39] ChristophHubeL3S commented on #62
I generated it around one hour ago, so the changes are probably not included yet. I can try again. Still struggling to access the logs.

[2017-01-25 09:58] eichelbe commented on #62
Hi Tuan, probably also an external tool like plink on the client could do the job without changes to the code (SSH port forwarding). At least it helps us to see your StormUI through zerberus ;)

[2017-01-25 10:04] eichelbe commented on #62
Ok , `externalService.path` is committed and in built by Jenkins. If not given, it defaults to DFS path. As the simulator settings, the path to the external service files is transported by the infrastructure to the workers...

[2017-01-25 10:14] antoine-tran commented on #62
@All: I just sent the email with the tested tunnel to avoid public exposure here :). Please check and test your codes !

[2017-01-25 10:22] ChristophHubeL3S commented on #62
@ap0n: I tried with a newly generated pipeline. Got the same error.

[2017-01-25 10:52] ap0n commented on #62
@eichelbe I just committed the changes for the priority sink and moving on to the other sinks...
I used
[code]
in order to remain compatible with the rest of the clusters...

[2017-01-25 10:54] ap0n commented on #62
@ChristophHubeL3S The new commit only had more logs :smile:

[2017-01-25 10:55] antoine-tran commented on #62
@ap0n Did you also commit with the changes of the DataConnector ? I still did not see any requests to the Tunneling server yet

[2017-01-25 11:57] ChristophHubeL3S commented on #62
@ap0n: I should have read your post more carefully :D

Just tell me when I should run another test.

[2017-01-25 12:00] npav commented on #62
@antoine-tran I committed the changes to the DataConnector (also just replied on your e-mail). Yet, if this works, we still need to change it again, since it will not work for other clusters. We need to make these fields also configurable, but first, let's just see if it works as intended.

[2017-01-25 19:36] eichelbe commented on #62
PriorityPip is running on LUH cluster with binary hotfixes. Discussing with Apostolos, Nick and Christoph how to fix the issues...

[2017-01-26 08:49] eichelbe commented on #62
Thanks to Nick and Apostolos, Jenkins is building the pipelines with the most recent changes.

[2017-01-26 14:42] eichelbe commented on #62
TimeTravePip is operating on LUH cluster...

[2017-01-26 14:50] eichelbe commented on #62
.. but not completely. It seems that we have problems due to a long startup with the Zookeeper timeouts (40s). Will try to increase them this evening.

[2017-01-26 14:51] ap0n commented on #62
Without any errors/restarts whatsoever?

[2017-01-26 20:35] eichelbe commented on #62
Ok, I gave the TimeTravelPip another try after changing the zookeeper configuration and restarting the cluster. Looks better but it is not completely working. Found several exceptions, one for each of us. If it is as for the (f)PriorityPip, solving these issues may help - however, they can be followups of dying workers, so let's get rid of all that we can get rid of. Emails with exceptions will fo

[2017-01-27 12:58] eichelbe commented on #62
Current state - please correct/post if wrong:
  - Exception in Correlation (TSI): fixed
  - Exception in generated switching (SUH): fixed
  - Exception in adaptation (cycles, SUH): fixed
  - HDFS exception (LUH): ?

Additional measure: Catching algorithm exceptions and turning to default mode in generated code (SUH): done

[2017-01-27 12:58] eichelbe commented on #62
Waiting for HDFS fix to give pipeline another try...

[2017-01-27 13:59] antoine-tran commented on #62
I changed the HBase configuration from our side and pushed to github now. Waiting for the jenkins now ..

[2017-01-27 15:44] eichelbe commented on #62
i.e., changing constants in code as far as I have seen? Now it may work on LUH (not tested so far, github complains about too many access, will take a while), but not on TSI anymore?

[2017-01-27 16:05] eichelbe commented on #62
Waiting for the Jenkins build for a next trial with the TTPip... Let's see whether the QM-Pip build is sufficient for that... or for new exception emails.

[2017-01-27 16:05] eichelbe commented on #62
After Jenkins build, DML config will allow for the two basic hbase settings and transport them to the workers...

[2017-01-27 16:35] eichelbe commented on #62
Gave it a trial... two new exceptions (missing constructors), less exceptions in summary, and one because it tried to use hardware :o

[2017-01-29 13:03] eichelbe commented on #62
Much better. No worker restarts within 6 min runtime. No data calculated (Sunday?). Might be running a version with simulated data could show whether it is working...

[2017-01-29 13:08] npav commented on #62
That's true. Sundays have no live data, so you can give it a try with the Simulator. Let me know if you need me to provide you with a data set that you can store in your hdfs and configure the simulator to replay it from there.

[2017-01-29 13:11] eichelbe commented on #62
Would the standard set for PriorityPip be sufficient. If not, please create a data set for the simulator and place it on Okeanos or better on a publicly reachable URL (just for the transfer time is fine). Let me know where it is and I will transfer it to LUH. Then we need Cui to change the pipeline configuration for the simulator...

[2017-01-29 13:21] cuiqin commented on #62
Changed the source to the simulated data for the TTPipeline.

[2017-01-29 13:22] eichelbe commented on #62
Thanks... waiting for the deployed pipeline.

[2017-01-29 13:22] npav commented on #62
I am not sure to which data set you are referring as "standard", but since at the moment we do not care what kind of data is being fed to the pipeline, any data whose format agrees with that of the live data is fine to use.

There is a data set available on Okeano's HDFS. The two files needed are under "/user/storm/" and they are called "data.txt" and "Symbollist.txt" respectively.

[2017-01-29 13:22] eichelbe commented on #62
Just to mention, LUH cluster currently "believes" that there is no hardware...

[2017-01-29 13:24] eichelbe commented on #62
@npav I meant content wise, so just using that existing data set would be ok (@cuiqin don't know whether it has specific properties or so...)

[2017-01-29 13:34] cuiqin commented on #62
Just to your information, I changed to the source configuration "SimulatedFinancialData".

[2017-01-30 14:29] ChristophHubeL3S commented on #62
I started the FocusPip on Okeanos. The pipeline starts without problems, but after the start nothing is happening: http://snf-618466.vm.okeanos.grnet.gr:8080/topology.html?id=FocusPip-85-1485786177
Is this because of the configuration changes?

btw: I used the SimulatedFocusFinancialData source.

Edit: It is trying to connect to the LUH cluster:
2017-01-30T16:24:49.845+0200 o.a.h.i.Client [INFO] R

[2017-01-30 14:32] eichelbe commented on #62
An adjustment made the SimulatedFinancialData source more stable... not sure about the SimulatedFocusFinancialData source (probably still the old code)

[2017-01-30 14:36] npav commented on #62
@eichelbe Actually the SimulatedFocusFinancialData source uses the SimulatedFinancialData source (SpringClientSimulator) internally, so changes to that one, will also be used by the focus one.

@ChristophHubeL3S In the focus pipeline, for the financial source, you need to add market players to the filter, else nothing gets emitted. As for the twitter source, have you re-uploaded your data set on H

[2017-01-30 14:50] npav commented on #62
@ChristophHubeL3S In case you don't remember from the past, you can add market players using the following syntax:
`./cli.sh setParam FocusPip SpringDataSource playerList addmarketPlayer/1,2,3,...`

where 1,2,3,... are market player IDs and can be as many as you need (e.g. from 1 to 200 if you want to add the first 200 MPs).

[2017-01-30 14:52] cuiqin commented on #62
I've seen there is an exception while accessing hdfs files: HDFSFileTweetSourceReader [ERROR] Can not access the path and/or symbols file/user/storm/eventset_16_8_until_19_8. The stack track you can check the log on Source0... This could prevent the pipeline from starting up.

[2017-01-30 14:57] ChristophHubeL3S commented on #62
@cuiqin I think that is because it is looking on the LUH cluster instead of on Okeanos itself. The problem is the hdfs configuration. It can either be directed to okeanos or to LUH but not to both. As far as I can see changing this is only one line of code but it is annoying to change it back and forth we switching between the two clusters.

@npav Thanks for reminding me! I added market players 1-

[2017-01-30 15:06] npav commented on #62
The current financial data set on Okeanos hdfs has 100 market players (with IDs ranging from 0 to 99), so you can add whichever you want from those.

[2017-01-30 15:13] eichelbe commented on #62
@ChristophHubeL3S see post above "After Jenkins build, DML config will allow for the two basic hbase settings and transport them to the workers..." Just use the related methods in your code and ensure that qm.infrastructure.cfg has the right values for the clusters as we did for the sources of TSI...

[2017-01-30 16:14] npav commented on #62
Just FYI, I added a temporary "hack" in SpringClient in order to automatically determine whether to use Spring's IP directly or use the tunneling.
I read the external properties path from DML and check if it contains "/var/nfs", since the LUH cluster does not have NFS.
It is a temporary trick to be able to use the live data source in both clusters.

@eichelbe I know there is a lot on your plate, b

[2017-01-30 17:06] ChristophHubeL3S commented on #62
good news: the Twitter source is back up on Okeanos :)

http://snf-618466.vm.okeanos.grnet.gr:8080/topology.html?id=FocusPip-88-1485795528

@npav I tried the following:
./cli.sh setParam FocusPip SpringDataSource playerList addmarketPlayer/1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,22,23,21,24,25,26,27,28,29

but the financial source is still not emitting anything.

[2017-01-30 17:09] smutahoang commented on #62
I have the same issue with Christoph.

I am running TransferPip on LUH cluster. I use SimulatedFinancialData but looks like there is no data coming out from the source as I see no tuple emitted.

I have already added the market players by the following command
./cli.sh setParam TransferPip SpringDataSource playerList addMarketPlayer/0,1, ... , 600

[2017-01-30 17:25] npav commented on #62
I just executed @ChristophHubeL3S 's FocusPip on Okeanos cluster, sent the same command, i.e.
`./cli.sh setParam FocusPip SpringDataSource playerList addmarketPlayer/1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,22,23,21,24,25,26,27,28,29`

and the financial source is emitting without problems. You can check it out here:
[http://snf-618466.vm.okeanos.grnet.gr:8080/topology.html?id=FocusPip-1-

[2017-01-30 17:37] smutahoang commented on #62
@npav I changed to (small) "m". Still no tuple emitted. What else should I check?
I am running on LUH cluster.

[2017-01-30 17:40] npav commented on #62
@smutahoang
All I did in Okeanos cluster was:
- update the infrastructure
- restart storm
- start the infrastructure
- wait for everything to be initialized
- send the signal

Are you sure the infrastructure is the latest version and running?
Are you sure your HDFS contains a dataset and is correctly reachable?

[2017-01-30 17:53] smutahoang commented on #62
@npav I updated and restarted  the infrastructure, but did not restart storm.
 Sorry, I am lost about the HDFS things. Is that the SimulatedFinancialData reads data from a HDFS dataset? If it is the case, please show us (in the code) the dataset name, connection, etc. Thanks.

@eichelbe Are we able to restart storm?

[2017-01-30 18:11] npav commented on #62
The Simulator can be configured to read from a file in the local filesystem or from the hdfs. Holger used it yesterday and configured it. I am not exactly sure how the configuration is done in your cluster, so maybe Holger can point you to it.
In the general case, it can be configured through qm.infrastructure.cfg where you set the flag that you want to use hdfs, and also set hdfs path etc.
Then i

[2017-01-31 09:35] eichelbe commented on #62
Settings are basically done for LUH. Currenty, as indicated by a readme.txt a peak data set is being loaded by the simulator. So far the simulator is working...

[2017-01-31 09:35] eichelbe commented on #62
Let's sync before changing the simulator data (/home/storm/data) and distributing it over the cluster. How are the plans for today using the LUH cluster?

[2017-01-31 09:40] eichelbe commented on #62
DML config is prepared for tunneling settings. Default is without tunneling, so no change on TSI is needed in this regard. Changes are committed. Jenkins is building. Respective qm.infrastructure.cfg entry for LUH is done on master02.

[2017-01-31 09:41] eichelbe commented on #62
Currently simulation data is read from files as stated in qm.infrastructure.cfg.

And yes, we are able to restart Storm on LUH up to the Zookeepers. As said, some synchronization is needed...

[2017-01-31 09:43] smutahoang commented on #62
@eichelbe  I have tried to run TransferPip again on LUH cluster, with both SimulatedFinancialData, and Spring Financial Data. Both do not seems working: no tuple emitted from the source. I will wait for you to update/restart, etc. Please let me know when I can give another trials. Thanks.

[2017-01-31 09:49] eichelbe commented on #62
Please have a look at PriorityFinancialPip. At least this source configured by Cui is working. Some times it also has hickups for me...

[2017-01-31 09:50] eichelbe commented on #62
I'll let you know...

[2017-01-31 09:51] smutahoang commented on #62
@eichelbe We at LUH is not working on LUH cluster until hearing from you. Thanks.

[2017-01-31 09:54] antoine-tran commented on #62
@npav We two need to discuss the configuration of the qm.infrastructure.cfg

[2017-01-31 09:54] eichelbe commented on #62
Ok... @smutahoang PriorityFinancialPip with simulation data is working as expected...

[2017-01-31 09:58] npav commented on #62
@antoine-tran I am opening a new issue for the external service on LUH cluster so as not to spam everyone else. I will mention you there.

[2017-01-31 10:15] npav opened #63 "External Service on LUH cluster"
@antoine-tran
So, as mentioned in previous e-mails/issue posts, the external service is a jar file that needs to be running at the same time as the pipelines, and acts as an intermediary between pipelines and stakeholder applications.
The applications send commands to the external service, which translates them to QM-pipeline commands, and directly communicates with the infrastructure to execute t

[2017-01-31 10:23] antoine-tran commented on #63
@npav So before we get into the deeper discussion, I just want to know: Whether the external service is also needed for the other pipelines or just TransferPip ? Because if it causes too many hassles, we can let FocusPip (and TimeTravel if the JVM is fixed) run in LUH cluster and TransferPip run in TSI

[2017-01-31 10:25] eichelbe commented on #63
As there is no NFS and the laptop running the tunnel (as far as I understand) is not part of the cluster, we will have to duplicate the files and keep them more or less in sync, in particular for the settings of the external service. So please take the qm.infrastructure.cfg from the cluster (/home/storm/qmscripts) but do not modify it on the cluster. If required, you may of course change the local

[2017-01-31 10:26] eichelbe commented on #63
I fear that all pipelines that shall be accessible to Stephan need the external service. And as far as I got Claudia, she wants to have the LUH cluster as backup if something serious happens to the TSI ones, some form of incident or so (you know)

[2017-01-31 10:34] antoine-tran commented on #63
@npav @eichelbe : Okay then. Will the files (or the values therein) be changed when the pipelines are running? If not, I can make a sync script and do it one time before every component starts off

[2017-01-31 10:36] eichelbe commented on #63
If you have access to the cluster from your machine, then a sync script would be nice. I received the external services file and will place it on the cluster. No problem if values are changing, we just have to re-distribute it as there is no NFS ;)

[2017-01-31 10:39] eichelbe commented on #63
Changed and distributed...

[2017-01-31 10:40] eichelbe commented on #63
No change at runtime if your components do not change this file, the infrastructure only reads it ;)

[2017-01-31 10:43] npav commented on #63
What about passing the external-service.properties to the external service? This is currently done using the DML. Since there will be no DML on Tuan's machine, should I modify the source and add another optional arg? Or maybe another approach is to check in the same location where the jar is being executed first. If the file is not found there, then it can check the DML. So this way, Tuan only nee

[2017-01-31 10:51] antoine-tran commented on #63
@npav I already did it. That is why we had the external service running :)

[2017-01-31 11:05] smutahoang commented on #62
@eichelbe Can we give another try now?

[2017-01-31 11:10] eichelbe commented on #62
Yes we can (he is not in office anymore). Please go ahead.

[2017-01-31 11:24] ChristophHubeL3S commented on #62
@npav I tried again and now the financial source is working fine for me as well on Okeanos :)

I will now prepare the dataset for the review with regard to Stefan's suggestions. We then need to get the financial data for the same time window. If this is done, we can start with the video(s).

[2017-01-31 11:33] npav commented on #62
@ChristophHubeL3S Okay, good news :) Let me know when you have the financial data set details so I can place it on hdfs.

[2017-01-31 11:51] eichelbe commented on #62
How is your plan for using the LUH cluster for today?

[2017-01-31 11:57] antoine-tran commented on #62
We have to test the TransferPip with Simulated data. And I have to see how the external service can send commands to the cluster, but it will not be related to the pipelines I guess.

[2017-01-31 12:01] antoine-tran commented on #62
you can also use the cluster now. We will stop all pipelines and not run anything at the moment

[2017-01-31 12:03] eichelbe commented on #62
For continuing the adaptation experiments, I need a special configuration and a restart of the infrastructure. Should not affect your work, but may (as further restarts may be needed).

Any progress on the simulated data issue?

[2017-01-31 12:03] smutahoang commented on #62
@cuiqin and @eichelbe I have configured the TransferPip to use SimulatedFinancialData like in the PriorityFinancialPip, but still not get any tuple emitted. Do you have any suggestion?

[2017-01-31 12:03] eichelbe commented on #62
As soon as Jenkins is done, we also need a run of the TimeTravelPip... potentially we found a reason for the dying worker.

[2017-01-31 12:05] eichelbe commented on #62
@smutahoang Can we stop all pipelines and give the TransferPip a restart terminating it after 2 minutes at latest? It's easier then to have a look at the worker logs.

[2017-01-31 12:08] eichelbe commented on #62
Ok, thanks. I will give the TransferPip a trial...

[2017-01-31 12:15] eichelbe commented on #62
TransferPip is never leaving CREATED state, i.e., one of its nodes is not behaving as expected. Here it is the ReplaySink, which causes HBase exceptions. Who is the ReplaySink-HBase expert? I will send the log...

[2017-01-31 12:16] antoine-tran commented on #62
you can send it to me

[2017-01-31 12:16] antoine-tran commented on #63
@eichelbe Holger, could you point me to some documentation, or even better, explain me very briefly where, in the Adaptation layer, can I find the code to dispatch commands to the pipeline component ?

I'm having the feeling that without modifying (or at least creating a new method in ClientEndpoint), the external service will not be able to send commands to the cluster. Current code heavily relie

[2017-01-31 12:20] eichelbe commented on #63
We shall discuss this first. Who is using the ClientEndpoint - either QM-IConf (should be able to connect to the cluster via plink, i.e., a tunnel) or the external service running on your machine, which shall have access to the cluster, or?

[2017-01-31 12:22] eichelbe commented on #62
I'ts on the way.

[2017-01-31 12:30] antoine-tran commented on #63
So, the external service (classes DataHandler's in QM-ExternalService) creates a ClientEndpoint instance and calls its schedule() method to dispatch the message (to the event bus, I guess).

[2017-01-31 12:33] eichelbe commented on #63
Right, this is basically ok. Can you directly access master02/10.10.0.2 from your machine?

[2017-01-31 12:37] antoine-tran commented on #63
@eichelbe Not sure what you mean, but I can only access to hadoop2 / hadoop3 (master02 in your term ?) via ssh. If want to issue some commands to HDFS, I set up a passwordless ssh and pipeline the commands.

This is what you want to know or I've understood wrong ?

[2017-01-31 13:01] eichelbe commented on #63
However port 8080 goes through, it seems that the specific port that we need is also not accessible from zerberus. Some firewall seems to block this request. What was your idea?

[2017-01-31 13:11] antoine-tran commented on #62
so I think the value of hbase quorum is not set yet:
hbase.zookeeper.quorum = node19.ib,node23.ib,master.ib,master03.ib,node15.ib

Should I append this to qm.infrastructure.cfg under /home/storm/data and you re-distribute the files ?

[2017-01-31 13:15] eichelbe commented on #62
Already done as for all new settings and qm.infrastructure.cfg does not need to be distributed.

[2017-01-31 14:16] antoine-tran commented on #62
I just run the TransferPip again and now it is ACTIVE mode. The configuration values also seem to be set correctly:
http://hadoop2.kbs.uni-hannover.de:8080/topology.html?id=TransferPip-71-1485871650

Could you try again at your side ? (you can kill the current pipeline)

[2017-01-31 14:45] antoine-tran commented on #63
I think I figured out the way it works now. The code I wanted to look at is ServerEndpoint, which creates the TCP server in the cluster and dispatches all commands (sockets) from the external service to the pipeline. Did I understand right?

So my idea was like this: I decided to set up the external service on my machine, listening on port 80 from the consumer and redirecting to hadoop2. Now I nee

[2017-01-31 14:46] eichelbe commented on #62
ACTIVE is the storm topology state and just indicates that it is somehow on the cluster. Still, the exception do persist and the pipeline remains in lifecycle phase CREATED.

[2017-01-31 14:54] eichelbe commented on #63
Right, the ServerEndpoint is handling the sockets. Is this some kind of bi-directional forwarding? Ok, could work.

Hmm.. why port 14001 - master02 is listening on 7012.

[2017-01-31 14:59] eichelbe commented on #59
I had
e.q.t.TimeGraphIndexer [INFO] Requesting from [18] to add I-N Edge Node GWRR to HESW Key

However, still no data is passing to Family5 and one of the nodes in Family4 is not processing. The one in Family4 was even on the same machine as a processing one (and this time it was a different than for the last failures)...

[2017-01-31 15:12] antoine-tran commented on #63
I just saw it in qm.infrastructure.cfg, maybe this is the setting for TSI cluster and I need to change to 7012 for our cluster.

[2017-01-31 15:19] eichelbe commented on #63
On LUH no specific port was configured, the infrastructure is just using its built-in default ;) Might be that you took the TSI cfg file somehow...

[2017-01-31 15:39] antoine-tran commented on #63
You're right, I made the mistake. This could (hopefully) explain the other bug with the Hbase missing configured value

[2017-01-31 15:43] eichelbe commented on #63
We are all not free of mistakes ;) Crossing my fingers that we get the two issues done soon.

[2017-01-31 15:49] antoine-tran commented on #62
@eichelbe So I made a mistake when setting up the external service with the OLD qm.infrastructure.cfg copied from TSI and not from /home/storm/qmscripts in LUH cluster. Just set the service run again.

Could you please check, if the problem still persists ?

[2017-01-31 15:56] antoine-tran commented on #62
FYI, we just killed the pipeline TransferPip

[2017-01-31 16:16] antoine-tran commented on #62
Btw, how can we see the status of a pipeline life cycle ? :)

[2017-01-31 16:46] eichelbe commented on #62
Just through the infrastructure logs :o

[2017-01-31 16:46] eichelbe commented on #62
We did not tweak the Storm UI... - or through QM-IConf (adaptation/runtime log). But therefore we also need to have the adaptation port available ;)

[2017-01-31 16:55] eichelbe commented on #62
... as long as the infrastructure logs "Elevating to".. the respective phase is not reached. For both critical phases (CREATED and INITIALIZED) it logs also which nodes are expected and which are missing.

CREATED means that all nodes must have send an initial event via the event bus and that they are ready for receiving the initial algorithm assignment. If exceptions happen here, CREATED can easi

[2017-01-31 17:07] eichelbe commented on #63
@antoine-tran May I kill the TransferPip/restart the infrastructure?

[2017-02-01 12:33] eichelbe commented on #62
Hi, what about the running FocusPip? I would like to test the Load shedding (just enabled on PriorityFinancialPip) and need an infrastructure restart (local model)...

[2017-02-01 13:01] eichelbe commented on #59
Ok, all family4 nodes report an exception...

node10: 2017-02-01T13:55:13.975+0100 b.s.m.n.StormClientErrorHandler [INFO] Connection failed Netty-Client-node13.ib/10.12.1.13:6701
node10: java.io.IOException: Connection reset by peer
node10:         at sun.nio.ch.FileDispatcherImpl.read0(Native Method) ~[na:1.8.0_73]
node10:         at sun.nio.ch.SocketDispatcher.read(SocketDispatcher.java:39) ~[na

[2017-02-01 13:28] eichelbe commented on #59
And I've seen this... (by chance)

node19: java.net.ConnectException: Connection refused
node19:         at java.net.PlainSocketImpl.socketConnect(Native Method) ~[na:1.8.0_73]
node19:         at java.net.AbstractPlainSocketImpl.doConnect(AbstractPlainSocketImpl.java:350) ~[na:1.8.0_73]
node19:         at java.net.AbstractPlainSocketImpl.connectToAddress(AbstractPlainSocketImpl.java:206) ~[na:1.8.

[2017-02-01 13:29] eichelbe commented on #62
And from the FocusPip:

node19: 2017-02-01T12:40:26.879+0100 b.s.util [ERROR] Async loop died! (PipelineVar_7_Source1)
node19: java.lang.NullPointerException: null
node19:         at eu.qualimaster.focus.FocusedSpringClientSimulator.getSpringStream(FocusedSpringClientSimulator.java:63) ~[stormjar.jar:na]
node19:         at eu.qualimaster.FocusPip.topology.PipelineVar_7_Source1Source.nextTuple(Pipe

[2017-02-01 13:29] eichelbe commented on #62
Killing the FocusPip...

[2017-02-01 13:33] eichelbe commented on #62
Changing financial data set to overload scenario 2...

[2017-02-01 15:43] ap0n commented on #59
This last one probably means that the the external service wasn't running at the time (or the sink wasn't configured properly).

[2017-02-01 16:03] eichelbe commented on #59
Can we just catch that and handle it as a log message?

[2017-02-01 16:06] ap0n commented on #59
That's what we do (code [here](https://github.com/QualiMaster/Algorithms/blob/master/tsi/time-travel-sink/src/main/java/eu/qualimaster/timegraph/TimeTravelSink.java#L104))

[2017-02-01 17:11] antoine-tran commented on #62
@eichelbe I'm testing the HBase connection and need to change and recompiled DataManageLayer, and manually copied into provided_libs directory in LUH cluster.

Do I have to re-run main.sh to reload the library? It seems the code is not updated when I restarted the pipelines ....

[2017-02-01 17:17] eichelbe commented on #59
Then emitting the full stack trace is misleading :o

[2017-02-01 17:19] eichelbe commented on #62
Definitely it is not updated based on the pipelines as not included (provided libs). As stated above, in your cluster running main.sh is not the right way as its execution is controlled by a service manager.

Ok, Jenkins is done. I'll do the update and the distribution and let you know...

[2017-02-01 17:19] eichelbe commented on #62
What about the running transfer pip?

[2017-02-01 17:20] antoine-tran commented on #62
no I didn't commit it yet. Just thought we could hot test it quickly via manual copies.
For the running pipeline you can delete it.

[2017-02-01 17:21] antoine-tran commented on #62
Okay just committed now

[2017-02-01 17:25] eichelbe commented on #62
Then it will take a while until we can update the infrastructure. Did not know this. Otherwise a patch and overriding the jar after a maven build would have worked...

[2017-02-01 17:52] eichelbe commented on #62
Jenkins is ready. Distributing libraries and restarting infrastructure on LUH cluster.

[2017-02-01 17:52] eichelbe commented on #62
model loaded, infrastructure is up.

[2017-02-01 18:07] antoine-tran commented on #62
So, I hard coded the Hbase configuration instead of getting values from DataManagementConfiguration, just to see if the problem is about ZooKeeper or not. The good news now is we didn't get the "Connection refused" error, so as long as qm.infrastructure.cfg managed to be visible to the pipeline, I guess we are good to go.

For the moment, we have the following error:

2017-02-01T18:55:59.683+0100

[2017-02-02 08:51] eichelbe commented on #62
Which component is emitting that error?

[2017-02-02 10:01] antoine-tran commented on #62
I actually didn't know which component causing this - my guess is somewhere in the EventManager that tries to locate the path of qm.infrastructure.cfg (I wasn't deeply aware of this actually)

Here is an excerpt from the log when I ran FocusPip (so no ReplayMechanism around):

2017-02-02T10:55:51.916+0100 e.q.F.t.PipelineVar_7_Source1Source [INFO] Prepared--basesignalspout.... FocusPip/PipelineVar

[2017-02-02 10:32] eichelbe commented on #62
The bolts and spouts are initializing the event manager as needed and this happens before the shown trace based on Storm conf information. They do not rely on that path. So something else may call that, as far as I remember some TSI components are doing this with fixed path as fallback, but this is just a guess. Of course, we may emit the stacktrace to find the cause, but this may be as confusing

[2017-02-03 09:05] eichelbe commented on #62
I will do some re-parallelization tests on LUH cluster now. May cause strange effects in other pipelines on correlation computation. It's probably better to not do further tests at the moment, probably until lunch. I'll let you know.

[2017-02-03 13:13] antoine-tran commented on #62
I see that now the cluster is free. Could we run some tests now ?

In addition, we constantly made some changes now in DML to spot the issues (just commenting / un-commenting some pieces of code to inspect). How can we restart the platform conveniently instead of emailing around?

[2017-02-03 13:27] eichelbe commented on #62
Partially. try running your tests now. the effects shall now be rather local on PrioFinPip.

If you take the responsibility of fixing problems from an update until the infra is running again, please feel free to read the wiki and to use the respective scripts.

[2017-02-03 15:16] eichelbe commented on #62
Is the TransferPip still needed? Can I go on?

[2017-02-03 15:38] antoine-tran commented on #62
Hi Holger, yes you can kill the pipelines and proceed now. We are scrutinizing locally now

[2017-02-06 09:48] eichelbe commented on #62
Hi, anyone using the LUH cluster by now. I would like to update/restart it and to give the TimeTravelPip another try (just having an idea where the strange exception could come from).

[2017-02-06 09:55] eichelbe commented on #62
Update/restart done...

[2017-02-06 10:07] eichelbe commented on #59
Just to let you know... no exceptions anymore, the log indicates that several graph edges are processed, no indication for restarts, but also not output for family5 (at least what I've seen).

Changes: Dynamic loading of native library based on infrastructure settings to avoid JVM deads, added `-Dlocutor.infix=worker -Dlocutor.ownInstance=TRUE` to worker.childopts (running at 5G heap RAM) to avoid

[2017-02-06 10:11] ap0n commented on #59
I'm also trying at Softnet cluster but so far there were no luck (many many netty problems...). I'll restart everything and give a try with your settings.

[2017-02-06 10:20] eichelbe commented on #59
Ok. The exception above seems to be caused by a dying worker closing its netty connections unexpectedly (others say), i.e., not only memory problems. If workers are dying on your side its also worth to have a look into the JVM dumps of the workers (on LUH under /tmp)... For the respective nodes, the netty connection were established after some time on the LUH cluster, but this is ok as JVMs start

[2017-02-06 13:50] eichelbe commented on #59
Hi Apostolos, how does the setParameterPathQuery in the TTP work? Cui is concerned about Source1 not sending any data...

[2017-02-06 13:58] ap0n commented on #59
It does not send data if there is no query.
setParameterPathQuery stores the path query in order to be picked it up at the next run of getPathQueryStream. The query should be like "02/06/2017,15:56:00,02/06/2017,15:59:00,123,321,shortest"
123 & 321 are market player IDs

[2017-02-06 14:07] eichelbe commented on #59
Ah...

`
node12: 2017-02-06T15:06:05.102+0100 e.q.t.QueriesSource [INFO] Path query received: 02/06/2017,15:56:00,02/06/2017,15:59:00,123,321,shortest
node12: 2017-02-06T15:06:05.106+0100 e.q.t.QueriesSource [ERROR] Unparseable date: "02/06/2017,15:56:00"
node12: java.text.ParseException: Unparseable date: "02/06/2017,15:56:00"
node12:         at java.text.DateFormat.parse(DateFormat.java:366) ~[n

[2017-02-06 14:10] eichelbe commented on #59
Ok, seems to be "." instead of ":". Source does not seem to emit something.

[2017-02-06 14:10] ap0n commented on #59
Hm.. Try "02/06/2017,15.56.00,02/06/2017,15.59.00,123,321,shortest" ('.' instead of ':' for the time).

[2017-02-06 14:11] ap0n commented on #59
You got there first! I haven't debugged those things yet... Still struggling to make the pipeline work at the our cluster (without any luck)

[2017-02-06 14:12] eichelbe commented on #59
Oh... Could you please have a look at the source. I can give it another try later.

BTW, we had 3 pipelines running in parallel on LUH cluster, at least the PrioFinancialPip was processing...

[2017-02-06 14:14] ap0n commented on #59
Maybe your best bet is to try the snapshot query. "02/06/2017,16.13.00".

[2017-02-06 16:09] antoine-tran commented on #62
@eichelbe Hi Holger, could you tell us where to see the infrastructure log of the currently running TransferPip ?
Also, how can one restart the infrastructure, using the same account (storm) in hadoop2 ?

[2017-02-06 17:25] eichelbe commented on #62
Hi Tuan,
there is only a single infrastructure log (log-rotated) at /var/log/storm/qm-infra/current. If required, the commands for restarting the infrastructure are QM_INFRA_DOWN and then QM_INFRA_UP (see Wiki). Please observe the infrastructure log until the infrastructure is completely started!

[2017-02-06 17:32] eichelbe commented on #59
`node22: 2017-02-06T18:31:15.273+0100 e.q.t.QueriesSource [INFO] Path query received: 02/06/2017,16.13.00
node22: 2017-02-06T18:31:15.273+0100 e.q.t.QueriesSource [ERROR] Malformed path query received: 02/06/2017,16.13.00. Returning
`

[2017-02-06 17:46] ap0n commented on #59
You should use setParameterSnapshotQuery for snapshots!

On Feb 6, 2017 7:32 PM, "Holger Eichelberger" <notifications@github.com>
wrote:

[2017-02-07 08:54] eichelbe commented on #59
`cli.sh setParam TimeTravelPip queries pathQuery "02/06/2017,16.13.00"` Please just let me know whatever I have to set to get this source running. Might be also a matter of the underlying data...

[2017-02-07 08:58] ap0n commented on #59
Try `cli.sh setParam TimeTravelPip queries snapshotQuery "02/06/2018,16.13.00"` The 2018 is intentional. It will try to return the most recent snapshot of the graph.
The source will only send one tuple.
I've also managed to run the pipeline at our cluster and debugging now :smile:

[2017-02-07 10:00] ChristophHubeL3S opened #64 "Infrastructure Issues on Okeanos"
Since the last updates the infrastructure is throwing a lot of exceptions on Okeanos which makes the running of pipelines more or less impossible. Sometimes, if you are lucky, the pipeline will start after a very long time but then usually crashes with an error that didn't occur with older versions of the infrastructure.

Can somebody with experience regarding the infrastructure have a look? Maybe

[2017-02-07 10:02] ChristophHubeL3S commented on #64
The last log:

[log_infrastructure_07022017.txt](https://github.com/QualiMaster/qm-issues/files/757189/log_infrastructure_07022017.txt)

[2017-02-07 10:24] eichelbe commented on #64
The exceptions I can see state

144962 [pool-2-thread-2] ERROR org.apache.storm.curator.ConnectionState - Connection timed out for connection string (snf-618466.vm.okeanos.grnet.gr:2181) and timeout (15000) / elapsed (15041)

This is nothing the infrastructure can fight against as it assumes that the Zookeepers and Storm are working properly. @npav @ap0n Did something bad happen to Okeanos the las

[2017-02-07 10:27] ap0n commented on #64
No idea. I haven't touched okeanos since our last tests with Stefan (Thursday or Friday). Since then I'm debugging TimeTravelPip on Softnet cluster. Maybe @npav has more news.

[2017-02-07 10:32] eichelbe commented on #64
Just an idea... are the Zookeepers fine / running / have enough HD space?

[2017-02-07 10:34] npav commented on #64
I haven't touched okeanos during the last few days. I ran some experiments on our cluster so that Okeanos is available for Cui/Christoph/however else wanted to use it.

[2017-02-07 10:45] npav commented on #64
I see that /var/nfs/ is at 99% full.
@everyone Please remove anything that you do not need from /var/nfs/ on Okeanos

[2017-02-07 10:48] npav commented on #64
@ChristophHubeL3S  Can I delete /var/nfs/pipelines/old_jars/ ?

[2017-02-07 10:59] ChristophHubeL3S commented on #64
@npav: yes, this can be deleted.

edit: I removed the folder

[2017-02-07 11:02] cuiqin commented on #64
Hi, I also cleaned up the files created by our account which are not needed any more. I see there are logs files owned by 'user' under /var/nfs/worker-6702-logs. It is almost 1GB. Can this be deleted?

[2017-02-07 11:02] xander7 commented on #64
I removed some of my pipelines as well.

[2017-02-07 11:08] npav commented on #64
@cuiqin I deleted it. Thanks.

[2017-02-07 11:10] ChristophHubeL3S commented on #64
I think one of the main problems is this:

114389 [Thread-42] INFO  eu.qualimaster.events.EventManager - received AdaptationEventResponse result: FAILED message: Not enough free executors (32.0) for starting pipeline 'FocusPip' requiring 34.0 executors but runtime re-allocation is not installed. receiverId: null messageId: null

[2017-02-07 11:12] eichelbe commented on #64
Comes up if the infrastructure believes that the existing resources are already (!) allocated by another pipeline or that your pipeline requires too many executors. Is another pipeline running at the same time? Can be subsequent to an improper configuration of the server machines. Are all slots and machines mentioned correctly?

Prevents running this pipeline to avoid overload. Does not happen on

[2017-02-07 12:12] ChristophHubeL3S commented on #64
We only let one pipeline run at a time. It is strange that this problem didn't occur earlier.

[2017-02-07 12:18] xander7 commented on #64
The connection timeouts are still there though.

[2017-02-07 12:28] ap0n commented on #59
@cuiqin I've noticed from the logs of the pipeline that tuples emitted by family element 5 (`TimeGraphQueryExecutor`) to family element 4 (`TimeGraphIndexer`) are received twice while are sent only once. Is that possible? I've seen this behavior certainly for the `allGrouping` (flow `f8` at the tool) and maybe at the direct grouping (still investigating this one). Can you look into it?

[2017-02-07 12:47] cuiqin commented on #59
@ap0n I checked the emit of the family5 to family4. This can happen if the algorithm calls the emitDirect and also adds the results into the output instance via calculate method. If the algorithm already called the emitDirect, the result is directly emitted there. So no need to return the results back through the output instance. I can also check in the generation that if it is directEmit, the out

[2017-02-07 12:52] ap0n commented on #59
@cuiqin but for allGrouping I'm not doing any directEmits... See [here (line 75)](http://jenkins.sse.uni-hildesheim.de/view/QualiMaster/job/Financial%20Analysis/ws/time-graph-external/src/main/java/eu/qualimaster/timegraph/TimeGraphQueryExecutor.java) the algorithm's code

[2017-02-07 12:57] cuiqin commented on #59
How the allGrouping shall be used? The same like shuffleGrouping while emitting?  Please also keep eyes on the emitDirect. The tuples might be emitted twice if both emitDirect being called and the results being added.

[2017-02-07 13:03] ap0n commented on #59
I'm not sure I understood the question. When allGrouping is used, the tuple should be delivered **once** to **every** target task. Quoting from [here](http://storm.apache.org/releases/1.0.2/Concepts.html)

[2017-02-07 13:05] cuiqin commented on #59
I see... the allGrouping is considered as emitGrouping in the generation. Just try to understand...in this case, it means the family5 shall emit to all tasks of family4?

[2017-02-07 13:07] ap0n commented on #59
Yes, that's right... It should emit to all family4 tasks but just once

[2017-02-07 13:14] cuiqin commented on #59
This is the first time I know that we have allGrouping being used. It is just considered as normal emit which is just once...  I have to get all tasks of the consuming node and adjust for allGrouping.

[2017-02-07 14:03] ap0n commented on #59
That's the first time indeed... Do you have a time estimation on when will this be fixed? (We will have to consider alternatives if there is not enough time...)

[2017-02-07 14:08] cuiqin commented on #59
The fix is on the way;) I'm generating the pipeline locally and will commit soon

[2017-02-07 14:25] ap0n commented on #59
Just let me know! Thanks :smile:

[2017-02-07 14:27] cuiqin commented on #59
Just committed the changes. Please also cross check... For the allGrouping, the same tuple will be emitted to all tasks of the destination of its flow.

[2017-02-07 14:28] antoine-tran commented on #63
@npav Hi Nick, When testing the external service using the PriorityFinancialPip, I saw this line of code in PriorityDataSinkForFinancialAndTwitter (in hy-priority-data-sink-3.1-SNAPSHOT), line 35:

 static {
    DataManagementConfiguration.configure(new File("/var/nfs/qm/qm.infrastructure.cfg"));
  }

Will it be the cause of the error with the missing configuration file in our cluster ?

[2017-02-07 14:35] npav commented on #63
@antoine-tran Hi Tuan. No, the configuration in your cluster is passed differently to the workers, so even if the sink does not find this file, no problem is caused (the exception is internally consumed and ignored).

[2017-02-07 14:42] cuiqin commented on #59
The TTP is already finished on Jenkins. You can check;)

[2017-02-07 15:00] ap0n commented on #59
Now I'm getting an exception...
[code]

[2017-02-07 15:04] cuiqin commented on #59
I think the way we are transferring is not right for the allGrouping, i.e, emitting to all tasks via emitDirect. As far as I see from Storm, only emitDirect can emit with task id. An example for allGrouping would be nice if you have.

[2017-02-07 15:16] ap0n commented on #59
I think the problem is [here](http://jenkins.sse.uni-hildesheim.de/job/QM-Pipelines/ws/pipelines/eu/qualimaster/TimeTravelPip/topology/PipelineVar_10_FamilyElement5FamilyElement.java) at line 291. You don't have to manually emitDirect. Storm provides a direct grouping out of the box.
[code]
should be
[code]
At your [topology](http://jenkins.sse.uni-hildesheim.de/job/QM-Pipelines/ws/pipelines/eu/qu

[2017-02-07 15:21] cuiqin commented on #59
ok, I see. It matters of the number of copies, but not the task id. Will adjust that.

[2017-02-07 15:22] cuiqin commented on #59
Just to be sure... Shall I change to
for(int i=0; i<taskIdTimeGraphIndexer.size(); i++) {
  _collector.emit("PipelineVar_10_FamilyElement5BroadcastRequests", new Values(out));
}

[2017-02-07 15:23] ap0n commented on #59
No, you don't need the loop.

[2017-02-07 15:23] cuiqin commented on #59
The one you suggested without for loop is the same as the old code, i.e., the family4 will only receive once again...

[2017-02-07 15:26] ap0n commented on #59
The problem was that it received twice... So, the problem is elsewhere.
The old code (or at least that part of it) was correct...

[2017-02-07 15:27] cuiqin commented on #59
Okay...Then I switch back to the old code for allGrouping. Did you check the direct emit as I mentioned above? That might be the reason some tuples are received twice.

[2017-02-07 15:29] ap0n commented on #59
No, the part I'm looking doesn't use direct emit.. I'm checking the
generated code now...

On Tue, Feb 7, 2017 at 5:27 PM, Cui Qin <notifications@github.com> wrote:

[2017-02-07 15:34] cuiqin commented on #59
I reverted the changes for allGrouping.

[2017-02-08 08:16] ap0n commented on #59
I found the problem. Lines 246 to 290 from [PipelineVar_10_FamilyElement4FamilyElement.java](http://jenkins.sse.uni-hildesheim.de/view/QualiMaster/job/QM-Pipelines/ws/pipelines/eu/qualimaster/TimeTravelPip/topology/PipelineVar_10_FamilyElement4FamilyElement.java) should be completely removed. @cuiqin can you take care of it?

[2017-02-08 09:12] cuiqin commented on #59
@ap0n I figured out the reason why the checking on these two tuples are generated twice... The unicastRequests and broadcastRequests are configured to contain the same field (externalRequest). However, while mapping the output of family5 into the input of family4, it considered them differently as they are configured as different items. If these two have exactly the same inner field type, do you n

[2017-02-08 09:59] ap0n commented on #59
I see. I'll send you the new configuration in a while.

[2017-02-08 10:06] cuiqin commented on #59
I actually already tried to change. I only changed the field name of the unicastRequests to "unicastExternalRequest". If this is ok for you, I can commit that;)

[2017-02-08 10:10] ap0n commented on #59
Then please also change the field of the `broadcastRequests` to `broadcastExternalRequest` and commit. Let me know once it's ready so that I can change the algorithm.

[2017-02-08 10:12] ap0n commented on #59
By the way since you are doing those changes, also select the `SimulatedFinancialData` as the `FinancialDataSource` of the TimeTravelPip

[2017-02-08 10:57] cuiqin commented on #59
Changes are committed.

[2017-02-09 11:11] npav commented on #56
Good news everyone!

Both focus pip and transfer pip, seem to be running at the same time on SoftNet cluster without having the "restart" problems. Will keep testing, but at the moment both generate results without problems!!!

Maybe we should keep this infrastructure version and configuration as a "backup"

[2017-02-09 11:16] eichelbe commented on #56
Good news indeed :) So SoftNet cluster and LUH can run multiple pipelines now :)

A backup is a good idea, might be we can even tag the component commits in Git...